.ListItem {
    display: block;
    position: relative;
    border-bottom: 1px solid $list-item-hairline;
    cursor: pointer;

    &.taller {
        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 18px;
    }

    &.has-left-icon > div {
        padding-left: 50px;
    }

    & > div {
        padding: 16px;

        & > .primaryText {
            color: $brand-text-dark;

            font-size: 16px;
            line-height: 150%;
        }

        & > .secondaryText {
            color: $brand-text-mid;

            font-size: 14px;
            line-height: 150%;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        & > .leftIcon {
            position: absolute;

            top: 12px;
            left: 8px;

            height: 44px;

            input {
                position: absolute;

                top: 16px;
                left: 16px;

                z-index: -99;
            }
        }

        & > .rightIcon {
            position: absolute;

            top: 12px;
            right: 26px;

            height: 44px;

            input {
                position: absolute;

                top: 16px;
                left: 16px;

                z-index: -99;
            }
        }
    }
}
