# Continuous deployment configuration
# See http://doc.gitlab.com/ci/builds_configuration/README.html

variables:
    GOOGLE_API_KEY: AIzaSyChNlerDt3cxNWvSylVdCsUkJ-3l87qojU
    ENVIRONMENT: development

before_script:
    - hostname
    - docker version
    - docker info

build:
    stage: build
    script: make build

lint:
    stage: test
    script: make lint

unit-test:
    stage: test
    script: make unit-test

feature-test:
    stage: test
    script: make feature-test

personalisation-test:
    stage: test
    script: make personalisation-test

# Deploy to test environment when tagged
deploy:
    stage: deploy
    script: make build dockerpush release-dev release-test
    only:
        - tags
