# Continuous deployment configuration
# See http://doc.gitlab.com/ci/builds_configuration/README.html

variables:
  ENVIRONMENT: development

stages:
  - build
  - test
  - lint
  - deploy

before_script:
  - hostname
  - docker version
  - docker info

build:
  stage: build
  script: make build

.lint:
  stage: lint
  script: make lint

lint-dev:
  extends: .lint
  except:
    - master
    - tags
  allow_failure: true

lint-final:
  extends: .lint
  only:
    - master
    - tags

.lint-dockerfile:
  stage: lint
  script: make lint-dockerfile

lint-dockerfile-dev:
  extends: .lint-dockerfile
  except:
    - master
    - tags
  allow_failure: true

lint-dockerfile-final:
  extends: .lint-dockerfile
  only:
    - master
    - tags

pa11y:
  stage: lint
  script: bash -c "$(make get-lint-pa11y-docker-cmd)" || exit $? # I have no idea why the exit trick is necessary but without it gitlab ignores exit status
  allow_failure:
    exit_codes: 2

unit-test:
  stage: test
  script: make unit-test

feature-test:
  stage: test
  script: make feature-test

maps-test:
  stage: test
  script: make maps-test

personalisation-test:
  stage: test
  script: make personalisation-test

# Deploy to test environment when tagged
deploy:
  stage: deploy
  script: make build-prod dockerpush
  only:
    - tags
