.*.sw?
.env
yarn-error.log
node_modules/
npm-debug.log*
package-lock.json
/public/static/*.css
/public/static/*.css.map
/public/static/*.js
/public/static/*.js.map
/src/server/webpack-stats.json
/public/*.html
/public/**/index.html
/public/VERSION
/public/components-catalog
/testing-screenshots
