.*.sw?
.env
yarn-error.log
/testing-screenshots
/node_modules/
/npm-debug.log*
/public/static/*.css
/public/static/*.css.map
/public/static/*.js
/public/static/*.js.map
/src/server/webpack-stats.json
/public/*.html
/public/**/index.html
/public/VERSION
/storybook-static
