# Continuous deployment configuration
# See http://doc.gitlab.com/ci/builds_configuration/README.html

before_script:
    - hostname
    - docker version
    - docker info

build:
    stage: build
    script: make build

lint:
    stage: test
    script: make lint

unit-test:
    stage: test
    script: make unit-test

feature-test:
    stage: test
    script: make feature-test

search-test:
    stage: test
    script: make search-test

# Deploy to integration test environment on merge with master
uat:
    type: deploy
    script: make build push release-test
    only:
        - master

# Deploy to staging environment when tagged
deploy:
    stage: deploy
    script: make build dockerpush release-test
    only:
        - tags

# test1-6 run off matching branches
test1:
    type: deploy
    script: make build push release-test1
    only:
        - test1
test2:
    type: deploy
    script: make build push release-test2
    only:
        - test2
test3:
    type: deploy
    script: make build push release-test3
    only:
        - test3
test4:
    type: deploy
    script: make build push release-test4
    only:
        - test4
test5:
    type: deploy
    script: make build push release-test5
    only:
        - test5
test6:
    type: deploy
    script: make build push release-test6
    only:
        - test6
