services:
  app-serve:
    environment:
      NEXT_PUBLIC_SENTRY_DSN: "<SENTRY PROJECT DSN>"
      SENTRY_AUTH_TOKEN: "<SENTRY AUTH TOKEN>"
      SENTRY_ORG: "<SENTRY ORGANISATION SLUG>"
      SENTRY_PROJECT: "<SENTRY PROJECT SLUG>"