
.ColoredIcon {
    &.icon-fg-color path {
        fill: $icon-fg-color;
    }

    &.brand-bg-dark path {
        fill: $brand-bg-dark;
    }

    &.size-30 {
        height: 30px !important;
        width: 30px !important;
    }
}

.Chevron {
    padding-right: 0 !important;

    path {
        fill: $icon-chevron-color;
    }
}
