@media print {
    path {
        fill: black !important;
    }
}

.Icon {
    transition: none !important;
}

.LogotypeIcon path {
    width: auto;
    height: auto;
}

.ColoredIcon {
    &.icon-fg-color path {
        fill: $icon-fg-color !important;
    }

    &.brand-bg-dark path {
        fill: $brand-bg-dark !important;
    }

    &.size-30 {
        height: 30px !important;
        width: 30px !important;
    }
}

.Chevron {
    padding-right: 0 !important;

    path {
        fill: $icon-chevron-color !important;
    }
}

.ChevronBackIcon {
    path {
        fill: white !important;
    }
}

.CheckboxSelectedIcon,
.CheckboxUnselectedIcon,
.RadioSelectedIcon,
.RadioUnselectedIcon {
    height: 40px !important;
    width: 40px !important;

    top: -8px !important;
    left: -6px !important;

    path {
        fill: $brand-text-dark !important;
    }
}
