@use '../../styles/mixins/colours';

.IntroPage {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    h2 {
        font-size: 1.17em;
    }

    .BetaLink {
        color: #{colours.get-static('colour-link')};
        color: var(--colour-link);

        &:visited {
            color: #{colours.get-static('colour-link-visited')};
            color: var(--colour-link-visited);
        }
    }

    .body {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        .betaPathwayWrapper {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 12em;

            .betaPathway {
                max-width: 400px;
                padding: 0.7em 1em;
                border-radius: 8px;
                background-color: #{colours.get-static('colour-bg-standard-tint-2')};
                background-color: var(--colour-bg-standard-tint-2);

                > * {
                    margin: 0.5em;
                }

                > header {
                    display: flex;
                    align-items: center;

                    .icon svg {
                        display: block;
                        margin: 0 3px 0 -5px;
                    }

                    h3 {
                        margin: 0;
                        font-size: 14px;
                    }
                }

                p,
                a {
                    font-size: 13px;
                }

                a {
                    font-weight: bold;
                    text-decoration: none;

                    /* Add trailing arrow */
                    &::after {
                        display: inline-block;
                        width: 7px;
                        height: 7px;
                        margin-bottom: 1px;
                        margin-left: 2px;
                        transform: rotate(-45deg);
                        border: 1px solid #{colours.get-static('raw-colour-pure-black')};
                        border: 1px solid var(--raw-colour-pure-black);
                        border-top: 0;
                        border-left: 0;
                        content: '';
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &::before {
                display: block;
                flex: 1 1 auto;
                content: '';
            }

            &::after {
                display: block;
                flex: 2 1 auto;
                content: '';
            }
        }
    }
}
