@use '../../styles/mixins/colours';

// To remove the IE11 built in 'x'
// at the end of an input box
::-ms-clear {
    display: none;
}

.Location {
    .search {
        position: relative;

        .FlatButton {
            display: flex;
            background: none;
            position: absolute;
            right: 24px;
            top: 30px;
            line-height: 18px;
            color: #{colours.get-static('colour-text-dark')};
            color: var(--colour-text-dark);
        }
    }
}
