@use '../../styles/mixins/colours';

.Location {
    .search {
        position: relative;
        width: 100%;
        box-sizing: border-box;

        .Input {
            width: 100%;
            flex-wrap: wrap;

            .clear-text {
                top: 11px;
            }

            &.isAutocompleteSuggestions input {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .autocompleteList {
            position: relative;

            li {
                display: block;
                border-bottom: 1px solid #{colours.get-static('colour-border-list-item')};
                border-bottom: 1px solid var(--colour-border-list-item);
                padding: 0.5em 0.7em;

                .state {
                    font-size: 14px;
                    color: #{colours.get-static('colour-text-mid')};
                    color: var(--colour-text-mid);
                }
            }
        }
    }

    .done {
        text-align: center;
        margin: 2em 0;

        .doneButton {
            display: block;
            width: calc(100% - 40px);
            margin: 20px auto;
        }
    }

    .GeoLocationButtonContainer {
        margin: 0 20px;
        display: flex;
        align-items: center;

        .LocationButton {
            color: #{colours.get-static('colour-text-dark')};
            color: var(--colour-text-dark);
        }

        .or {
            color: #{colours.get-static('colour-text-mid')};
            color: var(--colour-text-mid);
        }
    }

    .Spacer {
        margin: 0 1em;
    }

    .explainer {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 3em 20px 0;
        font-size: 14px;
        font-weight: normal;
        color: #{colours.get-static('colour-text-mid')};
        color: var(--colour-text-mid);

        .explainerIcons {
            display: inline-flex;
            margin-right: 1em;
            margin-bottom: -2px;

            .SvgIcon {
                margin-left: -1px;
                margin-right: -1px;

                &.WalkIcon {
                    width: 20px;
                }

                path {
                    fill: #{colours.get-static('colour-text-mid')};
                    fill: var(--colour-text-mid);
                }

                circle {
                    fill: #{colours.get-static('colour-text-mid')};
                    fill: var(--colour-text-mid);
                }
            }
        }
    }

    @media (max-width: 556px) {
        .explainer {
            display: flex;
            flex-direction: column;
        }
    }
}
