.BushfireNotice {
    padding: 0 15px;
    background-color: $brand-red;
    color: $white;
    overflow: auto;
}

.BushfireReliefPage {
    h3 {
        font-weight: normal;
    }
}

.BushfireResultsBanner {
    margin-bottom: 3rem;

    .ServicePane & {
        margin: 1.5rem 0;
    }
}

.separator {
    height: 2.4rem;

    & + * {
        margin: 0;
    }
}
