$brand-bg-dark:        #363e43;
$brand-bg-mid:         #767676;
$brand-bg-light:       #e8e7e3;
$brand-pane-dark:      #20938a;
$brand-pane-light:     #38bbad;
$brand-pane-alt-dark:  #781861;
$brand-pane-alt-light: #a21e78;
$brand-highlight:      #e52d4f;
$brand-highlight-alt:  #fc7753;
