$brand-bg-dark:        #363e43;
$brand-bg-mid:         #767676;
$brand-bg-light:       #e8e7e3;
$brand-pane-dark:      #1d7e8c;
$brand-pane-light:     #05c3de;
$brand-pane-alt-dark:  #79341c;
$brand-pane-alt-light: #a21e78;
$brand-highlight:      #e52d4f;
$brand-highlight-alt:  #fc7753;


$icon-fg-color: $brand-pane-alt-dark;
$icon-chevron-color: $brand-bg-mid;

$list-item-hairline: $brand-bg-light;

$max-width: 800px;
$desktop-side-column-color: #eeeeee;

.ColoredIcon {
    &.icon-fg-color path {
        fill: $icon-fg-color;
    }

    &.icon-chevron-color path {
        fill: $icon-chevron-color;
    }

    &.brand-bg-dark path {
        fill: $brand-bg-dark;
    }

    &.size-30 {
        height: 30px;
        width: auto;
    }

    &.size-14 {
        height: 14px;
        width: auto;
    }
}
