$brand-bg-dark:        #363e43;
$brand-bg-mid:         #767676;
$brand-bg-light:       #edece9;

$brand-pane-alt-dark:  #a21e78;
$brand-pane-alt-light: #3ed1d3; /* N.B. not enough contrast with white */
$brand-pane-alt-light-translucent: rgba(62, 209, 211, 0.3);

$brand-highlight:      #e52d4f;

$brand-spacer:         #c2c1be;

$brand-text-dark:      #363e43;
$brand-text-mid:       $brand-bg-mid;

$brand-error:          #e52d4f;

$icon-fg-color: $brand-pane-alt-dark;
$interactive-icon: $brand-text-mid;

$list-item-hairline: $brand-bg-light;

$max-width: 800px;
$desktop-side-column-color: #c1c0ba;

$link-text-color: $brand-pane-alt-dark;

$black: #000000;
$white: #ffffff;

a,
.link-color {
    color: $link-text-color;
}

:focus {
    outline: 1px $brand-pane-alt-light solid;
}
