.siteBanner {
    &,
    &-notice,
    &-warning {
        padding: 0 15px;
        color: $white;
        overflow: auto;

        a {
            color: $white;

            .HomePage .header & {
                text-decoration: underline;
            }
        }
    }

    &,
    &-notice {
        background-color: $brand-bg-dark;
    }

    &-warning {
        background-color: $brand-pane-alt-dark;
    }
}

// Adds correct spacing when banner is used on a results page
main > .ResultsListPage {
    .siteBanner {
        &,
        &-notice,
        &-warning {
            margin-bottom: 3rem;
        }
    }
}

// Fixes banner styling on service page due to css inheritance/cascading
main > .ServicePage {
    .siteBanner {
        &,
        &-notice,
        &-warning {
            margin: 1.5rem 0;
            font-size: 1rem;

            h3 {
                font-weight: revert;
            }
        }
    }
}
