/**************************************\
-                Colours                -
\**************************************/
$brand-bg-dark:        #363e43;
$brand-bg-mid:         #767676;
$brand-bg-mid-lighter: #dddddd;
$brand-bg-light:       #edece9;

$brand-yellow:         #FED800;

$brand-pane-alt-dark:  #4d13af;
$brand-pane-alt-dark-faint:  rgba(76, 19, 175, 0.129);
$brand-pane-alt-light: #3ed1d3; /* N.B. not enough contrast with white */
$brand-pane-alt-light-translucent: rgba(62, 209, 211, 0.3);

$brand-red:            #b30000;
$brand-highlight:      #5b98bb;
$brand-highlight-darker: #3C69A7;

$brand-spacer:         #c2c1be;

$brand-text-dark:      #363e43;
$brand-text-mid:       $brand-bg-mid;
$brand-text-light:     #d1d1d1;

$brand-error:          $brand-red;

$black-banner-rgba:		rgba(0, 0, 0, 0.4);

$icon-fg-color: $brand-pane-alt-dark;
$interactive-icon: $brand-text-mid;

$list-item-hairline: $brand-bg-light;

$link-text-color: $brand-pane-alt-dark;
$text-shadow: 1px 1px rgba(0, 0, 0, 0.3);

$black: #000000;
$white: #ffffff;

$census-brand-color: #c5d604;

a,
.link-color {
    color: $brand-pane-alt-dark;
}

:focus {
    outline: 1px solid $brand-pane-alt-light;
}

/**************************************\
-               Lengths                -
\**************************************/
$appbar-height: 44px;
