@use '../../styles/mixins/colours';

.Collapser {
    /* remove default button styling */
    button.collapser-message {
        padding: 0;
        border: 0;
        background: none;
        font-family: inherit;
        font-size: inherit;
    }

    .collapser-message {
        margin-left: auto;
        color: #{colours.get-static('colour-link')};
        color: var(--colour-link);
        text-decoration: underline;
    }

    .ChevronIcon {
        top: 0;
        width: 20px;
        height: 20px;
        padding: 0;
        transform: rotate(-90deg);
        line-height: 0;
        vertical-align: middle;
    }

    &.collapsed .ChevronIcon {
        transform: rotate(90deg);
    }

    @media screen {
        .collapsed {
            display: none;
        }
    }

    @media print {
        .collapser-message {
            display: none;
        }
    }
}
