.BasePage {
    display: flex;

    min-height: 100vh;
    flex-direction: column;

    & > main {
        flex: 1;
        background-color: white;
    }

    & > footer {
        color: $brand-text-mid;
        background-color: $brand-bg-dark;

        font-size: 14px !important;
        font-weight: 400 !important;

        padding: 10px 0;

        & > div {
            margin: 5px 15px;
        }

        a {
           color: white;
           text-decoration: none;
        }

        .logos {
            text-align: center;
            margin: 10px;

            img {
                margin-left: 10px;
                margin-right: 10px;

                height: 25px;
                width: auto;
            }
        }
    }
}
