.PersonalisationPage {
    .search {
        width: 100%;
        border-bottom: 1px solid $list-item-hairline !important;

        input {
            display: block;
            width: 90%;
            margin-top: 20px;
            margin-right: auto;
            margin-bottom: 20px;
            margin-left: auto;
            padding: 5px;

            border: 1px solid $brand-bg-mid;
            border-radius: 3px;
            -webkit-appearance: none;
        }
    }

    .progress {
        width: 100%;

        & > * {
            display: block !important;
            width: 60px !important;
            height: 60px !important;

            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .done-button {
        width: 100%;

        button {
            display: block !important;

            width: calc(100% - 40px);

            margin-top: 20px !important;
            margin-right: auto !important;
            margin-bottom: 20px !important;
            margin-left: auto !important;

            background-color: $icon-fg-color !important;
            color: $white !important;

            font-size: 18px !important;
            font-weight: 400 !important;
            text-transform: none !important;

            &:hover,
            &:focus {
                background-color: lighten($icon-fg-color, 10%) !important;
            }

        }

        button[disabled] {
            background-color: $brand-bg-mid !important;
        }
    }

    .List {
        padding: 0 !important;
    }

    .ListItem {
        border-bottom: 1px solid $list-item-hairline !important;
        font-size: 18px !important;

        &.taller {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        .Icon {
            top: -12px !important;
            width: 48px !important;
            height: 48px !important;
        }

        .CrossIcon {
            top: -6px !important;
        }

        .LoadingIcon,
        .RadioUnselectedIcon,
        .RadioSelectedIcon {
            top: -2px !important;
        }
    }

    .SummaryItem {
        border-bottom: 1px solid darken($list-item-hairline, 15%) !important;
        background-color: $brand-bg-light !important;

        &:hover,
        &:focus {
            background-color: darken($brand-bg-light, 10%) !important;
        }

        .primaryText {
            width: 70%;
            color: $brand-text-mid !important;
            line-height: 150%;
        }

        .secondaryText {
            margin: 0 !important;
            padding-top: 0.5em !important;
            float: right;

            color: $icon-fg-color !important;

            font-size: 16px !important;
            line-height: 150%;
            text-decoration: underline;
        }
    }

    .padded {
        margin: 20px !important;
    }
}
