@use '../styles/mixins/colours';

.BasePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #{colours.get-static('colour-bg-standard')};
    background-color: var(--colour-bg-standard);
}
