.PersonalisationPage {

    .link-text {
        text-decoration: underline;
    }

    .search {
        width: 100%;

        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        background-color: $brand-bg-light;

        box-sizing: border-box;

        input {
            display: block;
            width: 96%;
            padding: 10px 2%;
            border: 1px solid $brand-bg-mid;
            border-radius: $rounded-border;
            -webkit-appearance: none;
        }
    }

    .progress {
        width: 100%;

        & > * {
            display: block;
            width: 60px;
            height: 60px;

            margin-right: auto;
            margin-left: auto;
        }
    }

    .floatsFromBottom {
        .done-button,
        .okay-button,
        .clear-button {
            button {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }

    .done-button,
    .okay-button,
    .clear-button,
    .location-button {
        width: 100%;

        button {
            display: block;

            width: calc(100% - 40px);

            margin: 20px auto;
        }
    }

    .TextBannerContainer {
        margin: 20px;
    }

    .ClearResults {
        padding: 20px;
        border-top: 1px solid $list-item-hairline;

        color: $brand-text-mid;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }

    .clear-button {
        button {
            background-color: $brand-error;
            color: $white;
        }
    }

    .List {
        padding: 0;
    }

    .List.floatingDoneButton {
        padding-bottom: 60px;
    }

    .service-list {
        .leftIcon {
            top: 18px;
        }

        .rightIcon {
            top: 26px;
        }

        .primaryText {
            font-weight: 500;
        }
    }

    .SummaryItem {
        @include clearfix;

        border-bottom: 1px solid darken($list-item-hairline, 15%);
        background-color: $brand-bg-light;

        &:focus {
            background-color: darken($brand-bg-light, 10%);
        }

        .primaryText {
            display: inline-block;

            width: auto;
            max-width: 70%;

            margin-right: 0.75ex;  /* leave one character spacing */

            color: $brand-text-mid;
        }

        .secondaryText {
            display: inline-block;
            float: right;
            color: $icon-fg-color;
            font-size: 16px;
            text-decoration: underline;
            white-space: initial;
        }
    }

    .padded {
        padding: 20px;
    }

}
