@use '../styles/mixins/colours';

.StaticPage.BetaInfoPage {
    .HeaderBar .primary {
        font-size: 2em;
        font-weight: bold;
    }

    .body {
        margin-bottom: 1em;
    }

    .buttonsBox {
        text-align: center;
        margin-bottom: 1em;

        button {
            margin: 1em;
            border-radius: $rounded-border;
            padding: 0.2em 1em;
        }

        .returnToProd {
            margin-right: 1em;

            a {
                font-weight: bold;
                color: #{colours.get-static('colour-text-mid')};
                color: 1px solid var(--colour-text-mid);
            }

            a > span {
                display: inline-block;
                vertical-align: middle;

                .Icon {
                    vertical-align: text-bottom;

                    path {
                        fill: #{colours.get-static('colour-button-standard')};
                        fill: 1px solid var(--colour-button-standard);
                    }
                }
            }

            &:hover {
                a span {
                    text-decoration: underline;
                }

                .ChevronBackIcon {
                    transform: translateX(-2px);
                }
            }
        }
    }
}
