@use "../styles/mixins/colours";

.StaticPage.BetaInfoPage {
    .HeaderBar .primary {
        font-size: 2em;
        font-weight: bold;
    }

    .body {
        margin-bottom: 1em;
    }

    .buttonsBox {
        margin-bottom: 1em;
        text-align: center;

        button {
            margin: 1em;
            padding: 0.2em 1em;
            border-radius: 7px;
        }

        .returnToProd {
            margin-right: 0.8em;

            span {
                color: #{colours.get-static('colour-text-mid')};
                color: var(--colour-text-mid);
                font-weight: bold;
            }

            .icon {
                display: inline-block;
                vertical-align: middle;

                .Icon {
                    vertical-align: text-bottom;

                    path {
                        fill: #{colours.get-static('colour-button-standard')};
                        fill: var(--colour-button-standard);
                    }
                }
            }

            &:hover {
                span {
                    text-decoration: underline;
                }

                .ChevronBackIcon {
                    transform: translateX(-2px);
                }
            }
        }
    }
}
