.StaticPage.BetaInfoPage {
    .HeaderBar .primary {
        font-size: 2em;
        font-weight: bold;
    }

    .body {
        margin-bottom: 1em;
    }

    .buttonsBox {
        text-align: center;
        margin-bottom: 1em;

        button {
            margin: 1em;    
            border-radius: 7px;
            padding: 0.2em 1em;
        }

        .returnToProd {
            margin-right: 1em;
            a {
                font-weight: bold;
                color: $brand-text-mid;
            }

            a > span {
                display: inline-block;
                vertical-align: middle;
                
                .Icon {
                    vertical-align: text-bottom;
                    path {
                        fill: $brand-pane-alt-dark;
                    }
                }
            }

            &:hover {
                a span {
                    text-decoration: underline;
                }

                .ChevronBackIcon {
                    transform: translateX(-2px);
                }
            }
        }
    }
}
