.BrandedPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & > main {
        flex: 1;
        background-color: $white;
        /* FIXME: autoprefixer should be taking care of this */
        -ms-flex-preferred-size: auto;  /* Needed for IE10 */
    }

    & > footer {
        padding: 10px 0;

        background-color: $brand-bg-dark;
        color: $brand-text-mid;

        font-size: 14px;
        font-weight: 400;

        & > div {
            display: inline-block;
            margin: 5px 15px;
        }

        .about {
            float: left;
        }

        a {
            color: $white;
            text-decoration: none;
        }

        .supporters {
            display: inline;
            padding: 0;
            text-align: left;
        }

        .supporter {
            display: inline-block;
            list-style-type: none;
        }

        .supporter + .supporter::before {
            content: "\00a0|\00a0";
        }
    }
}
