.Covid19Page {
    .HeaderBar {
        @media only screen and (max-width: 540px) {
            height: 200px;
        }

        .primary {
            font-size: 2em;
            font-weight: bold;
        }
    }

    h3 {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .nationalHotline {
        margin: 2em 0;
        padding: 0.4em 1.4em 1em;
        background-color: $brand-pane-alt-dark-faint;

        h2 {
            margin: 0.8em 0 0.5em;
        }

        p {
            margin: 0.5em 0;
        }

        .Phone .ContactButton {
            margin: 0.5em 0;
            background-color: $brand-pane-alt-dark;
            color: $brand-text-light;
        }
    }

    ul {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
    }

    .contact-detail {
        display: flex;
        align-items: center;

        > span:first-child {
            flex: 0 0 auto;

            .Icon {
                width: 40px;
                height: 40px;
                margin-left: -8px;
                vertical-align: middle;

                &.PhoneIcon {
                    margin-top: 4px;
                }
            }
        }

        .main {
            padding: 0.6em 0;
        }
    }

    .contact-detail.inline {
        display: inline;
    }

    .body > hr {
        display: block;
        height: 1px;
        margin: 1em -40px;
        padding: 0;
        border: 0;
        border-top: 1px solid $brand-bg-mid-lighter;
    }

    details {
        summary {
            list-style: none;
            cursor: pointer;

            &::-webkit-details-marker {
                display: none; // # chrome doesn't support styling with list-style
            }

            &::before {
                display: none;
            }

            div { // wrapper needed for safari flex bug https://bugs.webkit.org/show_bug.cgi?id=190065
                display: flex;
                align-items: center;
                justify-content: space-between;

                > * {
                    margin: 0;
                }
            }
        }

        .ChevronIcon {
            transform: rotate(90deg);
            transition: transform 0.1s ease-out;
        }

        &[open] .ChevronIcon {
            transform: rotate(-90deg);
        }
    }

    .izzyCanHelp {
        margin: 2em 0;
        padding: 0 1.3em 0.5em;
        border: solid $brand-pane-alt-dark 1px;
    }
}

