.CovidSupportPage {
    $padding: 1em;
    .pageBanner {
        background-color: $brand-yellow;
        color: $brand-bg-dark;
        overflow: auto;
        padding: 1.5em;
        font-size: 0.9em;
        h3 {
            margin: 0 0 0.3em;
        }
    }
    .primaryInfo, .keyInfos .keyInfo, .supportServices .supportService {
        h3 {
            margin: 0.5em 0 0.2em;
            font-size: 1.3em;
            font-weight: 500;
            color: $brand-highlight;
        }
        h4 {
            margin: 0.2em 0 1em;
            font-weight: 300;
            font-size: 14px;
            color: $brand-text-dark;
        }
        .body {
            margin: 1em 0;
        }
        > .learnMore:link {
            color: $brand-highlight; 
        }
    }
    .primaryInfo {
        background-color: $brand-bg-light;
        margin: $padding;
        padding: 1em;
    }

    .keyInfos {
        margin: $padding;
        > h3 {
            font-size: 26px;
            font-weight: 500;
            color: $brand-text-mid;
        }
        .keyInfo {
            margin: 2em 0;
        }
    }

    .supportServices {
        .heading {
            padding: 0 $padding;
            background-color: $brand-bg-light;
            overflow: auto;
            h3 {
                font-weight: 500;
                font-size: 26px;
                color: $brand-text-mid;
            }
        }
        > ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;

            .supportService {
                padding: 1em $padding 2em;
                border-top: 10px solid #edece9;

                .Eligibility {
                    margin-bottom: 1em;

                    h3 {
                        font-size: 1em;
                    }
                }
            }
            .supportService:first-child {
                border-top: 0;
            }
        }
        .loadMore {
            padding: 1em $padding;
            background-color: $brand-bg-light;
            text-align: center;

            button {
                background: transparent;
                border: 1px solid;
                padding: 0.8em 1em;
            }
        }
        .progress {
            text-align: center;
        }
    }

    .otherCovidSupportCategories {
        h3 {
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            padding: 0 $padding;
            color: $brand-pane-alt-dark;
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
        }
    }

    .exitCovidFlowBox {
        background: right 5% bottom 40% / 5em no-repeat url("/static/images/main-symbol-yellow.svg"), $brand-pane-alt-dark;
        color: $white;
        padding: 0 calc(5em + 10%) 1em $padding;
        overflow: auto;

        a, a:link {
            color: $white;
        }
    }
}