
.HomePage {
    .HeaderBar {
        text-align: center;

        @media ($tablet) {
            text-align: left;
        }

        .primary {
            @media ($tablet) {
                padding-top: 20px;
                float: left;
            }

            padding-top: 12px;
        }

        .secondary {
            display: none;
        }
    }

    .branding-container {
        background-color: $brand-bg-dark;
        color: $white;
        text-align: center;

        @media ($tablet) {
            text-align: left;
        }

        .logo {
            width: auto;
            padding-top: 2px;

            @media ($tablet) {
                display: inline-block;
                padding-left: 20px;
                text-align: left;
            }
        }

        .LogotypeIcon {
            width: auto;
            height: 80px;
            margin: 0;
            margin-bottom: -7px;
            padding: 0;

            /* Ask */
            g > g > path {
                fill: $white;
            }

            /* Izzy */
            g + g path {
                fill: $brand-pane-alt-light;
            }

            @media ($tablet) {
                display: inline-block;
                margin-bottom: -16px;
            }


        }

        .branding-copy {
            margin: auto;

            @media ($tablet) {
                display: inline-block;
                padding-left: 40px;
            }

            margin-top: -8px;
            padding: 0;
            padding-top: 0;
            padding-right: 10px;
            padding-bottom: 13px;
            padding-left: 10px;

            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
        }
    }

    .search {
        position: relative;
        width: 100%;
        padding-bottom: 15px;

        @media ($tablet) {
            width: 40%;
            padding-top: 15px;
            float: right;
        }

        .searchWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 90%;
            height: 19px;

            margin: auto;
            padding: 9px;

            border: 1px $white solid;
            border-radius: 3px;
            background-color: $white;

            input {
                width: 100%;
                padding: 0;
                border: 0;
                color: $brand-text-dark;

                -webkit-appearance: none;

                &:focus {
                    outline: none;
                }
            }

            .icon {
                width: 28px;
                height: 28px;
                vertical-align: middle;
            }
        }

    }
}
