.HomePage {
    .HeaderBar {
        text-align: center;
    }

    .search {
        position: relative;
        width: 100%;
        padding-bottom: 20px;

        input {
            display: block;
            width: 90%;

            margin-right: auto;
            margin-left: auto;
            padding: 10px;

            border: 0;
            border-radius: 3px;
            color: $brand-text-dark;

            -webkit-appearance: none;
        }

        .icon {
            position: absolute;
            top: 6px;
            right: 5%;
            width: 28px;
            height: 28px;
        }
    }
}
