$colour-red: #b30000;
$brand-bg-dark: #363e43;
$colour-grey: #f8f9f9;
$notification-accent: #fed800;
$notification-background: #f4f4f4;
$bright-purple: #8a2be2;

.HomePage {
    .notification {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 1em;
        border-top: $brand-pane-alt-dark 10px solid;
        background-color: $brand-pane-alt-darker;

        &,
        a {
            color: $white;
        }

        .returnToProd {
            margin-left: -8px;

            a {
                font-weight: unset;
            }

            a > span {
                display: inline-block;
                vertical-align: middle;

                .Icon {
                    vertical-align: text-bottom;
                }
            }

            &:hover {
                a span {
                    text-decoration: underline;
                }

                .ChevronBackIcon {
                    transform: translateX(-2px);
                }
            }
        }

        button {
            margin: 0;
            padding: 0.1em 0.3em;
            border: 3px solid $white;
            border-radius: $rounded-border;
            background-color: $white;
            color: $brand-text-dark;
            font-weight: bold;

            path {
                fill: $brand-text-dark;
            }

            &:hover {
                .ChevronIcon {
                    transform: translateX(5px);
                }
            }

            &::-moz-focus-inner {
                padding: 0;
                border: 0;
            }

            span {
                display: inline-block;
                vertical-align: middle;

                .Icon {
                    vertical-align: text-bottom;
                }

                .InfoIcon {
                    margin-bottom: -3px;
                }

                .ChevronIcon {
                    margin-bottom: -2px;
                }
            }

            span:nth-child(2) {
                @media only screen and (max-width: 386px) {
                    width: 10em;
                    margin: 0.5em 0.2em;
                }
            }

            @media only screen and (max-width: 310px) {
                display: flex;
                flex-direction: column;

                span:nth-child(2) {
                    margin: 0.1em 0.2em;
                }
            }
        }
    }

    .covid-info-notification {
        padding: 1em;
        border-left: $notification-accent 10px solid;
        background-color: $notification-background;

        &,
        a {
            color: $brand-text-dark;
        }
    }

    .appbar {
        position: sticky;
        top: 0;
        width: 100%;
        max-width: 800px;
        height: $appbar-height;
        background-color: $brand-bg-dark;
        z-index: 99;

        // Quick Exit button
        div.quick-exit {
            height: $appbar-height;
            margin-left: 5px;
            padding: 0 15px;
            float: right;
            background-color: $colour-red;
            color: $white;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: middle;

            span {
                line-height: $appbar-height;
            }
        }
    }

    .HeaderBar {
        padding: 30px 20px calc(2vw + 28px);
        text-align: center;

        .homepage-logo {
            display: block;
            width: 200px;
            margin: 10px auto;
        }

        .primary {
            font-size: 1.5em;
            font-weight: bold;
        }

        .secondary {
            font-weight: 500;
        }
    }

    .header a {
        color: $white;
        font-size: 15px;
        text-decoration: none;
    }

    .branding-container {
        min-height: 82px;
        background-color: $brand-bg-dark;
        color: $white;
        text-align: center;

        .logo {
            width: auto;
            padding-top: 2px;

            @media ($tablet) {
                display: inline-block;
                padding-left: 20px;
            }
        }

        .LogotypeIcon {
            width: auto;
            height: 80px;
            margin: 0;
            margin-bottom: -7px;
            padding: 0;

            /* Ask */
            g > g > path {
                fill: $white;
            }

            /* Izzy */
            g + g path {
                fill: $brand-pane-alt-light;
            }

            @media ($tablet) {
                display: inline-block;
                margin-bottom: -16px;
            }

        }

    }

    .search {
        padding: 1em;

        background-color: $brand-bg-mid-lighter;

        .searchWrapper {
            display: flex;

            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 20px;
            margin: auto;

            padding: 9px;
            padding-right: 0;
            padding-left: 0;

            border: 1px $white solid;
            border-right: 0;
            border-radius: $rounded-border;
            background-color: $white;

            input {
                flex: 1 1 auto;

                width: 2em;

                margin: 0.5em;

                padding: 0;

                padding-right: 10px;

                padding-left: 10px;
                border: 0;

                border-radius: $rounded-border 0 0 $rounded-border;
                color: $brand-text-dark;
                -webkit-appearance: none;

                &:focus {
                    outline: none;
                }
            }

            button {
                height: 40px;

                padding: 0 15px;
                border: 0;
                border-radius: 0 $rounded-border $rounded-border 0;
                font-size: 14px;
            }
        }

    }

    .cantFindLookingFor {
        padding: 1.5em;
        background-color: $brand-pane-alt-dark;
        color: $white;

        h3 {
            margin-top: 0;
        }

        a {
            color: $white;
        }
    }
}
