.HomePage {
    .HeaderBar {
        text-align: center;
        color: white;
    }

    .branding-container {
        text-align: center;
        color: white;
        background-color: $brand-pane-light;

        .branding-icon {
            height: 120px;
            width: auto;
            padding: 0;
            padding-top: 25px;
        }

        .branding-copy {
            width: 80%;
            margin: auto;
            font-size: 24px;
            font-weight: 400;
            padding: 0;
            padding-top: 15px;
            padding-bottom: 25px;
        }
    }

    .search {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        padding: 5px;
    }
}
