.LocationPage {
    .search {
        width: 100%;

        input {
            display: block;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 5px;
        }
    }
}
