
.QuestionStepper {

    .skipToSelections {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 96%;
        margin: auto;
        padding-top: 5px;
    }

    .breadCrumbText {
        color: $breadcrumb-text-colour;
    }

    .introText {
        color: $brand-bg-dark;
    }

    .answerBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 96%;
        margin: auto;

        .ClearButton {
            margin-right: 1em;
            color: $link-text-color;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                text-decoration: none;
            }
        }

        .icon {
            position: relative;
        }

        .SvgIcon {
            height: 1em;

            &.DemographicLgbtiqIcon {
                position: absolute;
                top: -4px;
                left: 1px;
                height: 22px;

             }
        }
    }

    &.ResultsPage {
        .answerBox {
            padding: 10px;
            line-height: 24px;
        }

        .EditAnswers {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 96%;
            margin: auto;
            padding-bottom: 15px;
            font-size: large;

            a {
                &:visited {
                    color: $link-text-color;
                }
            }

        }
    }

    &.QuestionFlow {
        background-color: $brand-bg-mid-lighter;

        .answerBox {
            height: 3em;
            padding: 15px;
            font-size: 14px;
            line-height: 24px;
        }
    }


    .editing {
        color: $brand-bg-dark;
        font-style: italic;
    }

    .pipeOrComma {
        color: $breadcrumb-comma-pipe-colour;
    }

    .nonMultiMargin {
        margin: 5px;
    }
}
