
.QuestionStepper {
    background-color: $brand-bg-mid-lighter;

    .answer-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 3em;
        margin: auto;
        padding: 15px;

        .ClearButton {
            color: $link-text-color;
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
        }

        .SvgIcon {
            height: 1em;
        }
    }
}
