.resultContainer {
    border-top: 10px solid $brand-bg-light;
}

.resultContainer:first-child {
    border-top: 0;
}

.resultContainer-other + .resultContainer {
    border-top: 0;
}

.resultContainer-CrisisLineItem + .resultContainer-CrisisLineItem {
    border-top: 0;
}

.resultContainer-ResultListItem + .resultContainer-ResultListItem {
    border-top: 1px solid $list-item-hairline;
}

.ResultsListPage {
    .progress {
        width: 100%;

        & > * {
            display: block !important;
            width: 60px !important;
            height: 60px !important;

            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    .List {
        padding: 0 !important;
    }

    .ViewOnMapButton {
        background-color: $brand-bg-light !important;
        color: $brand-text-mid !important;

        &:hover,
        &:focus {
            background-color: darken($brand-bg-light, 10%) !important;
        }

        .primaryText {
            font-size: 18px !important;
            font-weight: 500 !important;
            line-height: 18px !important;
        }

        & > div {
            padding-left: 58px !important;
        }
    }

    .MoreResultsButton {
        border-top: 10px solid $brand-bg-light !important;
        border-bottom: 10px solid $brand-bg-light !important;
        font-size: 14px !important;
        text-align: center;
    }
}

.homeLink {
    margin-right: 20px;
}
