.ResultsListPage {
    .progress {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

        & > * {
            display: block;
            width: 57px;
            height: 57px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .rightIcon {
        top: 6px;
        width: 40px;
        height: 40px;
    }

    .change-personalisation-container {
        padding: 20px 15px 15px 30px;
        text-align: right;
    }

    .change-personalisation {
        font-weight: bold;
    }

    .List {
        padding: 0;
    }

    .ViewOnMapButton {
        background-color: $brand-bg-light;
        color: $brand-text-mid;

        .primaryText {
            font-size: 18px;
            line-height: 18px;
        }

        .MapIcon {
            width: 40px;
            height: 40px;
            margin-top: -9px;
            margin-left: -2px;
        }

        .rightIcon {
            top: 6px;
        }

        & > div {
            padding-left: 58px;
        }
    }

    .moreResultsContainer {
        padding: 20px 0;
        background-color: $brand-bg-light;
    }

    .MoreResultsButton {
        max-width: 300px;
        margin: 0 auto;
        background-color: $brand-bg-dark;
        font-size: 14px;
        text-align: center;

        .primaryText {
            color: $white;
        }
    }

    .CrisisHeader {
        margin-right: 16px;
        margin-bottom: 5px;
        margin-left: 16px;

        font-size: 18px;
        font-weight: 500;
    }

}

.homeLink {
    margin-right: 20px;
}

