.ResultsListPage {
    .progress {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;

        > * {
            display: block;
            width: 60px;
            height: 60px;

            margin-right: auto;
            margin-left: auto;
        }
    }

    .MapIcon {
        width: 40px;
        height: 40px;
        margin-top: -9px;
        margin-left: -2px;
    }

    .rightIcon {
        top: 6px;
        width: 40px;
        height: 40px;
    }

    .change-personalisation {
        color: $white;
        font-weight: 400;
    }

    .List {
        padding: 0;
    }

    .ViewOnMapButton {
        background-color: $brand-bg-light;
        color: $brand-text-mid;

        .primaryText {
            font-size: 18px;
            line-height: 18px;
        }

        .rightIcon {
            top: 6px;
        }

        & > div {
            padding-left: 58px;
        }
    }

    .MoreResultsButton {
        border-right: 10px solid $brand-bg-light;
        border-bottom: 10px solid $brand-bg-light;
        border-left: 10px solid $brand-bg-light;
        font-size: 14px;
        text-align: center;
    }
}

.homeLink {
    margin-right: 20px;
}
