.ResultsMapPage {
    .List {
        width: 100%;
        max-width: $max-width;

        padding: 0 !important;
    }

    .ResultListItem {
        min-height: 150px !important;
        background-color: $white !important;
    }
}
