.ResultsMapPage {
    .List {
        width: 100%;
        max-width: $max-width;

        padding: 0;
    }

    .ResultListItem {
        min-height: 150px;
        background-color: $white;
    }
}
