.StaticPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .body {
        flex: 1;
        /* FIXME: autoprefixer should be taking care of this */
        -ms-flex-preferred-size: auto;  /* Needed for IE10 */

        @media ($tablet) {
            max-width: 90%;
            margin: auto;
        }

        h3 {
            line-height: 3em;
        }

        .acknowledgement {
            font-style: italic;
        }
    }
}
