@use '../../src/styles/mixins/colours';

.Dialog {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &[aria-hidden='true'] {
        display: none;
    }

    &,
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .overlay {
        background-color: rgba(43, 46, 56, 0.9);
    }

    .content {
        margin: auto;
        z-index: 2;
        position: relative;
        max-height: calc( 100vh - 4em );
        overflow: auto;
        box-sizing: border-box;
    }

    &.type-standard {
        .content {
            border-radius: 8px 8px 10px 10px;
            margin: 0 15px;
            background-color: #{colours.get-static('colour-bg-standard')};
            background-color: var(--colour-bg-standard);
            max-width: 700px;

            > header {
                display: flex;
                align-items: center;
                margin: 1.3em 1.5em;

                h1 {
                    color: #{colours.get-static('colour-text-highlight')};
                    color: var(--colour-text-highlight);
                    flex: 1 1 auto;
                    margin: 0;
                }

                .close {
                    border: 0;
                    background-color: unset;
                    font-size: 2em;
                    color: #{colours.get-static('colour-text-mid')};
                    color: var(--colour-text-mid);
                }

                &:has(~ .body) {
                    margin-bottom: 0;
                }
            }

            > .body {
                margin: 1.5em;
            }

            > header ~ .body {
                margin-top: 1.2em;
            }
        }
    }
}
