

.Dialog {
    /**
    * 1. Make the dialog container, and its child overlay spread across
    *    the entire window.
    */
    &,
    .overlay {
      position: fixed; /* 1 */
      top: 0; /* 1 */
      right: 0; /* 1 */
      bottom: 0; /* 1 */
      left: 0; /* 1 */
    }

    .overlay {
        background-color: rgba(43, 46, 56, 0.9); /* 1 */
    }


    /**
    * 1. Make sure the dialog container and all its descendants sits on
    *    top of the rest of the page.
    * 2. Make the dialog container a flex container to easily center the
    *    dialog.
    */
    z-index: 2; /* 1 */
    display: flex; /* 2 */
    justify-content: center;
    align-items: center;

    /**
    * 1. Make sure the dialog container and all its descendants are not
    *    visible and not focusable when it is hidden.
    */
    &[aria-hidden='true'] {
        display: none; /* 1 */
    }

    /**
    * 1. Vertically and horizontally center the dialog in the page.
    * 2. Make sure the dialog sits on top of the overlay.
    * 3. Make sure the dialog has an opaque background.
    */
    .content {
        margin: auto; /* 1 */
        z-index: 2; /* 2 */
        position: relative; /* 2 */
        max-height: calc( 100vh - 4em );
        overflow: auto;
        box-sizing: border-box;
    }
}
