:root {
    --type-size-ratio: 1.25;
    --type-base-size-min: 16;
    --type-base-size-max: 18;
    --type-size-min-screen-width: 350;
    --type-size-max-screen-width: 800;

    --type-size-0-ratio: 1;
    --type-size-0: clamp(
        var(--type-base-size-min) * var(--type-size-0-ratio) * 1px,
        (
            1vw *
            (
                (
                    1 /
                    ((var(--type-size-max-screen-width) - var(--type-size-min-screen-width))*0.01)
                ) *
                (var(--type-base-size-max) - var(--type-base-size-min)) * var(--type-size-0-ratio)
            )
            +
            (var(--type-base-size-min) * 1px) * var(--type-size-0-ratio)
            -
            (
                var(--type-size-min-screen-width) * 0.01 *
                (
                    1 /
                    ((var(--type-size-max-screen-width) - var(--type-size-min-screen-width))*0.01)
                ) *
                (var(--type-base-size-max) - var(--type-base-size-min))
                *
                1px
                * var(--type-size-0-ratio)
            )
        ),
        var(--type-base-size-max) * var(--type-size-0-ratio) * 1px
    );




    --type-size-1-ratio: var(--type-size-0-ratio) * var(--type-size-ratio);
    --type-size-1: clamp(
        var(--type-base-size-min) * var(--type-size-1-ratio) * 1px,
        (
            1vw *
            (
                (
                    1 /
                    ((var(--type-size-max-screen-width) - var(--type-size-min-screen-width))*0.01)
                ) *
                (var(--type-base-size-max) - var(--type-base-size-min)) * var(--type-size-1-ratio)
            )
            +
            (var(--type-base-size-min) * 1px) * var(--type-size-1-ratio)
            -
            (
                var(--type-size-min-screen-width) * 0.01 *
                (
                    1 /
                    ((var(--type-size-max-screen-width) - var(--type-size-min-screen-width))*0.01)
                ) *
                (var(--type-base-size-max) - var(--type-base-size-min))
                *
                1px
                * var(--type-size-1-ratio)
            )
        ),
        var(--type-base-size-max) * var(--type-size-1-ratio) * 1px
    );




    --type-size-2-ratio: var(--type-size-1-ratio) * var(--type-size-ratio);
    --type-size-2: clamp(
        var(--type-base-size-min) * var(--type-size-2-ratio) * 1px,
        (
            1vw *
            (
                (
                    1 /
                    ((var(--type-size-max-screen-width) - var(--type-size-min-screen-width))*0.01)
                ) *
                (var(--type-base-size-max) - var(--type-base-size-min)) * var(--type-size-2-ratio)
            )
            +
            (var(--type-base-size-min) * 1px) * var(--type-size-2-ratio)
            -
            (
                var(--type-size-min-screen-width) * 0.01 *
                (
                    1 /
                    ((var(--type-size-max-screen-width) - var(--type-size-min-screen-width))*0.01)
                ) *
                (var(--type-base-size-max) - var(--type-base-size-min))
                *
                1px
                * var(--type-size-2-ratio)
            )
        ),
        var(--type-base-size-max) * var(--type-size-2-ratio) * 1px
    );




    --type-size-3-ratio: var(--type-size-2-ratio) * var(--type-size-ratio);
    --type-size-3: clamp(
        var(--type-base-size-min) * var(--type-size-3-ratio) * 1px,
        (
            1vw *
            (
                (
                    1 /
                    ((var(--type-size-max-screen-width) - var(--type-size-min-screen-width))*0.01)
                ) *
                (var(--type-base-size-max) - var(--type-base-size-min)) * var(--type-size-3-ratio)
            )
            +
            (var(--type-base-size-min) * 1px) * var(--type-size-3-ratio)
            -
            (
                var(--type-size-min-screen-width) * 0.01 *
                (
                    1 /
                    ((var(--type-size-max-screen-width) - var(--type-size-min-screen-width))*0.01)
                ) *
                (var(--type-base-size-max) - var(--type-base-size-min))
                *
                1px
                * var(--type-size-3-ratio)
            )
        ),
        var(--type-base-size-max) * var(--type-size-3-ratio) * 1px
    );

}
