@use '../styles/mixins/colours';

.Accessibility {
    position: relative;
    color: #{colours.get-static('colour-text-dark')};
    color: var(--colour-text-dark);
    font-size: 16px;

    > span {
        display: inline-block;
        vertical-align: middle;
        font-weight: normal;

        svg {
            margin-left: -2px;
            margin-right: 6px;
            vertical-align: text-bottom;
        }
    }

    .ColoredIcon {
        width: 30px;
        height: 30px;
    }

    .ResultListItem & {
        font-size: 14px;
    }
}
