.Address {
    display: block;
    position: relative;
    padding-left: 24px;

    .Address-wrapper {
        display: inline-block;
        color: $brand-text-dark;
        font-weight: 500;
        width: 100%;
    }

    .MapIcon {
        /* override mui.SvgIcon's inline styles */
        height: 40px !important;
        width: 40px !important;

        position: absolute;
        top: -10px;
        left: -10px;

    }
}
