@use '../styles/mixins/colours';

.Address {
    position: relative;
    font-size: 16px;
    display: flex;

    > span,
    > div {
        display: inline-block;
        vertical-align: middle;
    }

    .Address-wrapper {
        color: #{colours.get-static('colour-text-dark')};
        color: var(--colour-text-dark);
        font-weight: 500;
    }

    .MapIcon {
        width: 40px;
        height: 40px;
        margin-left: -9px;
        margin-right: 2px;
        vertical-align: text-bottom;
    }

    .details {
        display: block;
        padding-top: 1em;
    }
}
