@use '../styles/mixins/colours';

.AlertBanner {
    padding: 0.1px; /* force margins not to collapse */

    border: #{colours.get-static('colour-border-alert')} solid 1px;
    border: var(--colour-border-alert) solid 1px;
    background-color: #{colours.get-static('colour-bg-standard')};
    background-color: var(--colour-bg-standard);
    color: #{colours.get-static('colour-text-dark')};
    color: var(--colour-text-dark);

    &.hasBody:focus-within {
        outline: 1px solid #{colours.get-static('colour-input-focus-primary')};
        outline: 1px solid var(--colour-input-focus-primary);

        summary {
            outline: 0;
        }
    }

    a {
        color: #{colours.get-static('colour-text-dark')};
        color: var(--colour-text-dark);
    }

    &[open] {
        .title-container .ChevronIcon {
            transform: rotate(-90deg);
        }
    }

    .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        padding: 0 1em;

        .title {
            display: flex;
            align-items: center;

            .icon {
                margin: 0 1.3em 0 0.4em;

                .InfoIcon {
                    /* Counteract margin in SVG */
                    width: 47px;
                    height: 47px;
                    margin: -8.5px;
                }
            }

            .text {
                margin: 1em;
                font-size: 18px;
                font-weight: 500;

                p {
                    display: inline;
                }
            }
        }

        .ChevronIcon {
            transform: rotate(90deg);
            transition: transform 0.1s ease-out;
        }
    }

    .body {
        margin: 0 1em 1em;

        & > *:first-child {
            margin-top: 0;
        }
    }
}
