@use '../styles/mixins/colours';

.AppBarContainer {
    margin-bottom: 5em;
}

.AppBar {
    $appbar-text-line-height: 52px;

    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    -ms-flex-pack: justify;

    @media print {
        display: none;
    }

    width: 100%;
    max-width: 800px;
    height: $appbar-height;
    min-height: auto;
    background: rgba(0, 0, 0, 0);
    color: #{colours.get-static('colour-text-very-light')};
    color: var(--colour-text-very-light);
    text-overflow: ellipsis;
    z-index: 2;

    &.HomPageAppBar {
        justify-content: flex-end;
    }

    img {
        height: 2.5em;
    }

    .appBarLogo {
        margin: 1em;
    }

    .IconButton {
        height: $appbar-height;
    }

    &.showBar {
        top: 0;
        transition: background-color 0.05s ease;
        justify-content: space-between;
        -ms-flex-pack: justify;
        background-color: #{colours.get-static('raw-colour-rich-purple')};
        background-color: var(--raw-colour-rich-purple);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

        .appBarLogo {
            margin: 0;

            img {
                padding: 0.6em;
                height: 2.5em;
            }
        }
    }

    button {
        width: 13rem;

        .backButton {
            width: 13rem;
        }

        .ChevronBackIcon {
            width: $appbar-height;
            height: $appbar-height;
        }

        span {
            margin-left: -6px;
            float: left;
        }

        .back-label {
            height: $appbar-height;
            margin-top: 1px;
            font-size: 14px;
            font-weight: 500;
            line-height: $appbar-text-line-height;
            text-overflow: ellipsis;
        }
    }
}
