.AppBar {
    height: 40px !important;
    min-height: auto !important;

    box-shadow: none !important;
    background-color: $brand-bg-dark !important;

    & > div {
        display: inline-block;
        z-index: 2;
    }

    h1 {
        position: absolute;
        width: 70%;
        top: 0;
        left: 15% !important;

        text-overflow: ellipsis !important;

        text-align: center;
        font-size: 18px !important;
        font-weight: 500 !important;
        line-height: 44px !important;
    }

    .BackButton {
        margin-top: -24px;
        margin-left: -24px;

        &:hover, &:focus {

            svg {
                background-color: fade-out(white, 0.8) !important;
                border-radius: 24px;
            }
        }
    }

    .ChevronBackIcon {
        height: 48px !important;
        width: 48px !important;

        margin: 0;
        padding: 0;

    }
}
