$appbar-height: 44px;
$appbar-text-line-height: 42px;
$colour-red: #b30000;


.AppBarSpacer {
    width: 100%;
    height: $appbar-height;

    @media print {
        display: none;
    }
}

.AppBar {
    display: flex;
    position: fixed;
    flex-direction: row;

    @media print {
        display: none;
    }

    width: 100%;
    max-width: 800px;
    height: $appbar-height;
    min-height: auto;

    background-color: $brand-bg-dark;
    color: $white;

    text-overflow: ellipsis;
    z-index: 2;

    & > .button-container {
        flex: 1;
        z-index: 2;
    }

    .button-container a {
        color: $white;
        font-size: 14px;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
    }

    .title {

        max-width: 80%;
        margin: auto;
        padding: 0;

        font-size: 16px;
        font-weight: 500;
        line-height: $appbar-text-line-height;

        text-align: center;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .BackButton {
        display: relative;

        min-width: 44px;

        height: $appbar-height;
        padding: 0;

        color: $white;

        text-align: left;
        text-decoration: none;
        overflow: hidden;

        &:focus {
            background-color: $brand-pane-alt-light-translucent;
        }

        .Icon {
            margin: 0;
            padding: 0;

            path {
                fill: $white;
            }
        }

        .ChevronBackIcon {
            width: $appbar-height;
            height: $appbar-height;
        }

        span {
            margin-left: -6px;
            float: left;
        }

        .back-label {

            height: $appbar-height;

            margin-top: 1px;

            font-size: 14px;
            line-height: $appbar-text-line-height;

            text-overflow: ellipsis;

        }

    }

    .quick-exit {
        min-width: 35%;
        height: $appbar-height;
        margin-left: 5px;
        padding: 0 5px;
        float: right;
        background-color: $colour-red;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

    /* if desktop */
    .mobile_device {
        display: none;
    }

    /* if mobile device max width 380px */
    @media only screen and (max-device-width: 380px) {
        .mobile_device {display: block;}

        .mobile_device img {
            width: 24px;
            height: 24px;
            padding: 10px 5px 0 0;
            float: right;
        }
        .desktop {display: none;}
    }

    /* if mobile device max width 480px */
    @media only screen and (max-device-width: 480px) {
        .mobile_device {display: block;}

        .mobile_device img {
            width: 24px;
            height: 24px;
            padding: 10px 5px 0 0;
            float: right;
        }

        .desktop {display: none;}
    }
}
