.AppBar + * {
    padding-top: 40px;
}

.AppBar {
    display: flex;
    position: fixed;
    flex-direction: row;

    width: 100%;
    max-width: 800px;
    height: 40px;
    min-height: auto;

    background-color: $brand-bg-dark;
    color: $white;

    z-index: 2;

    & > .button-container {
        flex: 1;
        z-index: 2;
    }

    .title {
        flex: 4;

        margin: auto;
        padding: 0;

        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;

        line-height: 44px;
        text-align: center;
        text-overflow: ellipsis;

        white-space: nowrap;
        overflow: hidden;
    }

    .NextButton {
        &[disabled] {
            svg path {
                fill: $brand-bg-mid;
            }
            color: $brand-bg-mid;
        }

        .next-label {
            position: absolute;
            top: 10px;
            right: 50px;
            line-height: 20px;
        }
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .BackButton,
    .NextButton {
        margin-top: -5px;
        margin-left: -5px;

        .Icon {
            width: 48px;
            height: 48px;

            margin: 0;
            padding: 0;

            path {
                fill: $white;
            }
        }
    }
}
