@use '../styles/mixins/colours';

.AppBarSpacer {
    width: 100%;
    height: $appbar-height;

    @media print {
        display: none;
    }
}

.AppBar {
    $appbar-text-line-height: 42px;

    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;

    @media print {
        display: none;
    }

    width: 100%;
    max-width: 800px;
    height: $appbar-height;
    min-height: auto;
    background-color: #{colours.get-static('raw-colour-slate-gray')};
    background-color: var(--raw-colour-slate-gray);
    color: #{colours.get-static('colour-text-very-light')};
    color: var(--colour-text-very-light);
    text-overflow: ellipsis;
    z-index: 2;

    & > .button-container {
        flex: 1;
        z-index: 2;
    }

    .button-container a {
        color: #{colours.get-static('colour-text-very-light')};
        color: var(--colour-text-very-light);
        font-size: 14px;
        line-height: $appbar-height;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
    }

    .title {
        max-width: 80%;
        margin: auto;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: $appbar-text-line-height;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .BackButton {
        display: relative;
        flex: 0 1 auto;
        min-width: 44px;
        height: $appbar-height;
        padding: 0;
        color: #{colours.get-static('colour-text-very-light')};
        color: var(--colour-text-very-light);
        text-align: left;
        text-decoration: none;
        overflow: hidden;

        &:focus {
            background-color: #{colours.get-static('colour-input-focus-overlay')};
            background-color: var(--colour-input-focus-overlay);
        }

        .Icon {
            margin: 0;
            padding: 0;

            path {
                fill: #{colours.get-static('raw-colour-pure-white')};
                fill: var(--raw-colour-pure-white);
            }
        }

        .ChevronBackIcon {
            width: $appbar-height;
            height: $appbar-height;
        }

        span {
            margin-left: -6px;
            float: left;
        }

        .back-label {
            height: $appbar-height;
            margin-top: 1px;
            font-size: 14px;
            line-height: $appbar-text-line-height;
            text-overflow: ellipsis;
        }
    }

    // Quick Exit button
    .QuickExit {
        flex: 0 1 auto;
        margin-left: 5px;
        float: right;
    }
}
