.branding-footer-container {
    background-color: $brand-bg-dark;
    color: $brand-text-light;

    font-size: 16px;
    font-weight: 400;

    & > div {
        display: inline-block;
        width: 100%;
        margin: 15px;
        vertical-align: top;
    }

    & > div div {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    a {
        color: $white;
        font-size: 14px;
        text-decoration: none;
    }

    hr {
        height: 1px;
        margin: 0 15px;
        border: 0 none;
        background-color: $brand-text-mid;
        color: $brand-text-mid;
    }

    .flag {
        display: inline-block;
        position: relative;
        top: 10px;
    }

    .supporters a,
    .information a {
        color: $brand-text-mid;
    }

    .footer-list {
        display: inline;
        margin: 0;
        padding: 0;
        text-align: left;

        &.about {

            li {
                display: inline-block;
                width: 50%;
            }
        }

        li {
            display: block;
            list-style-type: none;

            a {
                // Increase the size of the hitbox on this tiny content
                color: $white;
                line-height: 2em;
            }
        }

    }



}
