.branding-footer-container {
    padding: 10px 0;

    background-color: $brand-bg-dark;
    color: $brand-text-mid;

    font-size: 14px;
    font-weight: 400;

    & > div {
        display: inline-block;
        margin: 5px 15px;
    }

    a {
        color: $white;
        text-decoration: none;
    }

    .footer-list {
        display: inline;
        padding: 0;
        text-align: left;

        li {
            display: inline-block;
            list-style-type: none;

            a {
                padding: 10px 0;
            }
        }

        li + li::before {
            content: "\00a0|\00a0";
        }
    }



}
