.CategoryListItem.ListItem {

    .primaryText {
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
    }

    & > div {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 58px;
    }
}
