.CategoryListItem {
    border-bottom: 1px solid $list-item-hairline !important;

    .primaryText {
        font-size: 18px !important;
        line-height: 18px !important;
        font-weight: 500 !important;
    }
}
