.CategoryListItem.ListItem {
    border-bottom: 1px solid $list-item-hairline;

    .primaryText {
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
    }

    & > div {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 58px;
    }
}
