.ChatResultCard {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid $brand-pane-alt-dark;
    border-radius: 3px;

    h3 {
        margin-top: 0;

        .StaticPage .body & {
            padding: 0;
        }
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    .ButtonContainer {
        text-align: center;
    }

    .ChatResultCardButton {
        margin-top: 15px;
        padding: 8px 13px;
        border: 0;
        border-radius: 3px;
        background-color: $brand-pane-alt-dark;
        color: $white;
    }
}
