$talk-button-size: 80px;
$talk-button-color: #ffffff;
$from-message-bg-color: #e8e8e8;
$message-border-radius: 8px;

.lds-dual-ring {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.lds-dual-ring::after {
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border: 5px solid $brand-pane-alt-dark;
    border-radius: 50%;
    border-color: $brand-pane-alt-dark transparent;
    font-size: 1px;
    content: " ";
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.HeaderBarBanner.chat {
    background-color: $brand-pane-alt-dark;
}

.ChatMessage {
    display: flex;
    flex-direction: column;

    .to,
    .from {
        display: inline-block;
        max-width: 60%;
        margin: 5px 0;
        padding: 7px 9px;
        border-radius: $message-border-radius;
    }

    .to {
        align-self: flex-start;
    }

    .from {
        position: relative;
        align-self: flex-end;
        background-color: $from-message-bg-color;

        &::after {
            position: absolute;
            right: 10px;
            bottom: -8px;
            width: 0;
            height: 0;
            border-top: 9px solid $from-message-bg-color;
            border-right: 9px solid transparent;
            border-left: 9px solid transparent;
            content: " ";
        }
    }
}

.ChatPage {
    .body {
        width: 100%;
    }

    .TalkButton {
        width: $talk-button-size;
        height: $talk-button-size;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $brand-pane-alt-dark;
        color: $talk-button-color;
        line-height: $talk-button-size;
        text-align: center;
    }

    .MessageContainer {
        display: flex;
        flex-direction: column;
    }

    .QuickReplyContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.ChatQuickReply {
    padding: 6px 11px;
    border: 1px solid $brand-pane-alt-dark;
    border-radius: $message-border-radius;
    color: $brand-pane-alt-dark;
    cursor: pointer;

    &:not(:last-of-type) {
        margin-right: 6px;
    }
}

.InputVolumeDisplayContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    .InputVolumeDisplayBar {
        width: 10px;
        transition: 0.1s ease;
        background-color: $brand-pane-alt-dark;

        &:not(:last-child) {
            margin-right: 4px;
        }
    }
}
