@use '../../src/styles/mixins/colours';

.ClearMyListDialog {
    min-width: min(300px, calc(100vw - 10em));
    overflow: auto;
    text-align: center;
    color: #{colours.get-static('colour-text-dark')};
    color: var(--colour-text-dark);

    header {
        font-size: 1.2em;
        font-weight: bold;
    }

    .ClearMyListOptions {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-top: 1.5em;

        .cancel-button {
            border: 0;
            background-color: transparent;
            color: #{colours.get-static('colour-text-brand')};
            color: var(--colour-text-brand);
        }

        .clear-button {
            border: 0;
            border-radius: 5px;
            padding: 9px;
            background-color: #{colours.get-static('colour-text-brand')};
            background-color: var(--colour-text-brand);
            color: #{colours.get-static('colour-text-very-light')};
            color: var(--colour-text-very-light);
        }
    }
}
