.Collapser {

    .ChevronIcon {
        top: 0;
        width: 20px;
        height: 20px;
        padding: 0;
        transform: rotate(-90deg);
        line-height: 0;
        vertical-align: middle;
    }

    &.collapsed .ChevronIcon {
        transform: rotate(90deg);
    }

    @media screen {
        .collapsed {
            display: none;
        }
    }

    @media print {
        .collapser-message {
            display: none;
        }
    }
}
