.Collapser {

    .collapser-message {
        &:visited {
            color: $link-text-color;
        }
    }

    @media screen {
        .collapsed {
            display: none;
        }
    }

    @media print {
        .collapser-message {
            display: none;
        }
    }
}
