.CollapsedOpeningTimes {
    position: relative;

    & > a {
        position: absolute;

        right: 16px;
        top: -26px;
    }

    ul {
        margin: 0;
        margin-left: 25px;
        padding: 0;

        & > li {
            list-style-type: none;
        }

        .time {
            position: absolute;
            left: 33%;
        }
    }
}
