@use '../styles/mixins/colours';

.CollapsedOpeningTimes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
        flex-grow: 1;
    }

    > .Collapser {
        width: 100%;

        &.collapsed {
            width: auto;
        }

        & > .collapser-message {
            display: block;
            font-size: 16px;
            text-align: right;
            white-space: nowrap;

            &:visited {
                color: #{colours.get-static('colour-link')};
                color: var(--colour-link);
            }
        }

        .AllOpeningTimes {
            margin: 0;
            margin-left: 32px;
            padding: 0;

            & > li {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                list-style-type: none;
            }

            .day {
                justify-content: flex-start;
            }

            .time {
                justify-content: flex-end;
            }

            @media print {
                .collapser-message {
                    font-size: 1px;
                }
            }
        }
    }
}
