.CollapsedOpeningTimes {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;

    > * {
        flex-grow: 1;
    }

    > .Collapser {
        width: 100%;

        &.collapsed {
            width: auto;
            padding-top: 0;
            padding-left: 32px;
        }

        & > a {
            display: block;
            font-size: 16px;
            text-align: left;
            white-space: nowrap;
        }

        .AllOpeningTimes {
            margin: 0;
            margin-left: 32px;
            padding: 0;

            & > li {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                list-style-type: none;
            }

            .day {
                justify-content: flex-start;
            }

            .time {
                justify-content: flex-end;
            }
        }
    }
}
