@use "../styles/mixins/colours";

.Collapser {
    /* remove default button styling */
    button.collapser-message {
        padding: 0;
        border: 0;
        background: none;
        font-family: inherit;
        font-size: inherit;
    }

    .collapser-message {
        margin-left: auto;
        color: #{colours.get-static('colour-link')};
        color: var(--colour-link);
        text-decoration: underline;
    }

    @media screen {
        .collapsed {
            display: none;
        }
    }

    @media print {
        .collapser-message {
            display: none;
        }
    }
}
