@use '../styles/mixins/colours';

.Contact {
    @include clearfix;

    display: block;
    width: 100%;
    padding-top: 6px;

    .kind {
        width: 100%;
        max-width: 100px;
        color: #{colours.get-static('colour-text-mid')};
        color: var(--colour-text-mid);

        @media print {
            color: #{colours.get-static('raw-colour-pure-black')};
            color: var(--raw-colour-pure-black);
        }

        font-size: 14px;
        font-weight: 400;
    }

    a {
        display: block;
        position: relative;
        width: auto;
        margin-top: 5px;
        padding: 6px 10px;

        @media print {
            color: #{colours.get-static('raw-colour-pure-black')};
            color: var(--raw-colour-pure-black);
        }

        font-size: 16px;

        .Contact-text {
            padding-left: 30px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .Icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: -10px -5px; /* negative margin to crop svg extra space */
            vertical-align: bottom;

            path {
                fill: #{colours.get-static('colour-text-dark')};
                fill: var(--colour-text-dark);

                @media print {
                    fill: #{colours.get-static('raw-colour-pure-black')};
                    fill: var(--raw-colour-pure-black);
                }
            }
        }
    }
}
