
.Contact {
    @include clearfix;

    display: block;
    width: 100%;
    padding-top: 6px;

    .kind {
        width: 100%;
        max-width: 100px;

        color: $brand-text-mid;
        @media print {
            color: $black;
        }

        font-size: 14px;
        font-weight: 400;
    }

    a {
        display: block;
        position: relative;
        width: auto;

        margin-top: 5px;
        padding: 6px;
        @media print {
            color: $black;
        }

        font-size: 16px;

        .Contact-text {
            padding-left: 30px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .Icon {
            position: absolute;
            top: -5px;
            left: -8px;

            width: 40px;
            height: 40px;

            path {
                fill: $brand-text-dark;
                @media print {
                    fill: $black;
                }
            }
        }
    }
}
