
.Contact {
    display: block;
    width: 100%;
    padding-top: 6px;

    .kind {
        color: $brand-text-mid;
        font-size: 14px;
        font-weight: 400;
    }

    a {
        display: block;
        position: relative;
        width: auto;
        
        margin-top: 5px;
        padding: 6px;

        color: $brand-pane-alt-dark;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;

        .Contact-text {
            padding-left: 30px;

            .kind {
                font-weight: 500;
            }

            .value {
                white-space: nowrap;
            }
        }

        .Icon {
            position: absolute;
            top: -5px;
            left: -8px;

            width: 40px;
            height: 40px;

            path {
                fill: $brand-text-dark;
            }
        }
    }

    .ContactButton {
        border: 1px solid $brand-pane-alt-dark;
        border-radius: 3px;

        font-size: 18px;
        text-align: center;
        text-decoration: none;

        .Icon {
            display: inline-block;
            position: absolute;
            top: -2px;
            left: 50%;
            margin-left: -110px;

            path {
                fill: $brand-pane-alt-dark;
            }
        }

        .Contact-text {
            padding: 0;
        }
        
    }
    
}
