.CovidRelatedIssues {
    margin: 15px;
    border: solid 1px $black;
    background-color: $white;

    .CovidRelatedIssues-container {
        margin: 15px;

        .covidServices {
            margin: 1em -15px;
            padding: 0;
        }
    }
}
