.CovidRelatedIssues {
    margin: 0;
    border: solid 1px black;
    margin: 15px;
    background-color: $white;

    .CovidRelatedIssues-container {
        margin: 15px;

        .covidServices {
            padding: 0;
            margin: 1em -15px 1em;
        }
    }
}
