.CrisisLineItem {
    margin: 6px 16px;
    padding-bottom: 10px;

    h3,
    h3 a {
        margin-top: 2px;
        margin-bottom: 0;

        color: $brand-text-dark;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }

    .Contact.Phone {
        padding-top: 2px;
    }
}

.CrisisHeader {
    margin-right: 16px;
    margin-bottom: 5px;
    margin-left: 16px;

    font-size: 18px;
    font-weight: 500;
}
