.CrisisLineItem {
    margin: 6px 16px;

    .PhoneIcon {
        left: 0 !important;
        top: -2px !important;
    }

    .Phone a .kind {
        padding-left: 30px;
    }

    h3, h3 a {
        font-size: 14px !important;
        font-weight: normal;
        color: $brand-text-mid;
        text-decoration: none;

        margin-bottom: 6px;
    }
}

.CrisisHeader {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: -6px;

    font-size: 18px !important;
    font-weight: 500 !important;
}
