.CrisisLineItem {
    border-bottom: 1px solid $list-item-hairline !important;

    a {
        text-decoration: none;
	color: $brand-pane-alt-light;
        .PhoneIcon {
            fill: $brand-pane-alt-light !important;
        }
    }

    .Phone {
        position: relative;
        border: 2px solid;
        border-color: $brand-pane-alt-light;
        border-radius: 3px;
        width: 90%;
        height: 32px;
        color: $brand-pane-alt-light;
        fill: $brand-pane-alt-light;
        font-size: 24px !important;
    padding-left: 26px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    a .PhoneIcon {
        top: -5px;
        }
    a .kind {
        padding-left: 16px;
        }
    }

    .crisisName {
        font-size: 18px !important;
        color: $brand-text-mid;
	padding-left: 16px;
	padding-right: 16px;
        padding-bottom: 16px;
        padding-top: 16px;
    }

}
