@use "../styles/mixins/colours";

.CrisisLineItem {
    margin: 6px 16px;
    padding-bottom: 10px;

    h3,
    h3 a {
        margin-top: 2px;
        margin-bottom: 0;

        color: #{colours.get-static('colour-text-dark')};
        color: var(--colour-text-dark);
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
    }

    .Contact.Phone {
        padding-top: 2px;
    }

    .bonusCopy {
        padding: 0;
        font-size: 14px;

        li {
            padding-bottom: 1em;
            list-style-position: inside;
        }

        li:last-child {
            padding-bottom: 0;
        }
    }

    .Collapser {
        margin-top: 5px;
    }
}

