@use '../styles/mixins/colours';

.CrisisResultsList {
    padding: 1em;
    background-color: #{colours.get-static('colour-crisis')};
    background-color: var(--colour-crisis);
    color: #{colours.get-static('colour-text-very-light')};
    color: var(--colour-text-very-light);
    overflow: auto;

    > h3 {
        font-size: 1.5em;
    }

    > h4 {
        font-weight: normal;
    }

    > ul {
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }
}
