@use '../styles/mixins/colours';

.Dropdown {
    display: flex;
    position: relative;
    flex-direction: column;

    .title {
        margin: 5px 0;
        color: #{colours.get-static('colour-link')};
        color: var(--colour-link);

        &.left {
            text-align: left;
        }

        &.right {
            text-align: right;
        }
    }

    .optionSelect {
        display: flex;
        justify-content: space-between;
        padding: 3px;
        color: #{colours.get-static('colour-link')};
        color: var(--colour-link);
        font-size: 18px;
        cursor: pointer;

        &:hover {
            outline: 1px solid #{colours.get-static('colour-input-focus-primary')};
            outline: 1px solid var(--colour-input-focus-primary);
            background-color: #{colours.get-static('raw-colour-pure-white')};
            background-color: var(--raw-colour-pure-white);
        }
    }

    .activeOptionSelect {
        outline: 1px solid #{colours.get-static('colour-input-focus-primary')};
        outline: 1px solid var(--colour-input-focus-primary);
        background-color: #{colours.get-static('raw-colour-pure-white')};
        background-color: var(--raw-colour-pure-white);
    }

    .open {
        .SvgIcon {
            margin-top: -12px;
            margin-bottom: -12px;
            transform: rotate(-90deg);
        }
    }

    .closed {
        .SvgIcon {
            margin-top: -12px;
            margin-bottom: -12px;
            transform: rotate(90deg);
            transition: 0.4s;
        }
    }

    .options {
        position: absolute;
        width: 100%;
        margin-top: 1px;
        background-color: #{colours.get-static('raw-colour-pure-white')};
        background-color: var(--raw-colour-pure-white);
        color: #{colours.get-static('colour-link')};
        color: var(--colour-link);
        box-shadow: #{colours.get-static('raw-colour-pure-black')} 0 0 3px 0;
        box-shadow: var(--raw-colour-pure-black) 0 0 3px 0;
        cursor: pointer;
        z-index: 1;

        div {
            padding: 5px;

            &:hover {
                background-color: #{colours.get-static('colour-bg-standard-tint-1')};
                background-color: var(--colour-bg-standard-tint-1);
            }
        }
    }
}
