
@use '../styles/mixins/colours';

.Eligibility {
    padding-right: 15px;
    padding-left: 15px;

    .Heading {
        color: #{colours.get-static('colour-text-dark')};
        color: var(--colour-text-dark);
    }

    ul {
        margin: 0.5em 0 1em;
    }
}
