.FlatButton {
    border: 0;
    border-radius: $rounded-border;
    background-color: $icon-fg-color;
    color: $white;

    font-size: 18px;
    font-weight: 400;
    line-height: 36px;

    -webkit-appearance: button;

    &:hover,
    &:focus {
        background-color: lighten($icon-fg-color, 10%);
    }

    &[disabled] {
        background-color: $brand-bg-mid;
    }

    &.text-link {
        background-color: transparent;
        color: $brand-text-mid;
        text-decoration: underline;
    }

}
