@use '../styles/mixins/colours';

.FlatButton {
    border: 0;
    border-radius: $rounded-border;
    background-color: #{colours.get-static('colour-button-standard')};
    background-color: var(--colour-button-standard);
    color: #{colours.get-static('colour-text-very-light')};
    color: var(--colour-text-very-light);
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    -webkit-appearance: button;

    &:hover,
    &:focus {
        background-color: #{colours.get-static('colour-button-standard-hover')};
        background-color: var(--colour-button-standard-hover);
    }

    &[disabled] {
        background-color: #{colours.get-static('colour-button-disabled')};
        background-color: var(--colour-button-disabled);
    }

    &.text-link {
        background-color: transparent;
        color: #{colours.get-static('colour-text-mid')};
        color: var(--colour-text-mid);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .prompt {
        font-size: 14px;
        margin-right: 10px;
        color: #{colours.get-static('colour-text-dark')};
        color: var(--colour-text-dark);
    }
}
