.HeaderBar {
    background-color: $brand-pane-dark;

    &, & a {
       color: white;
    }

    // FIXME check these
    padding-left: 20px;
    padding-right: 20px;

    .primary {
        font-weight: 500;
        font-size: 32px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .secondary {
        font-weight: 400;
        font-size: 18px;
        padding-bottom: 25px;
    }

    .Logo {
        width: auto !important;
        height: 64px !important;
        float: right;

        position: relative;
        top: -5px;

        transform: rotate(5deg);

        path, circle {
            fill: white;
        }
    }

}
