.HeaderBar {
    background-color: $brand-pane-dark;

    &, & a {
       color: white;
    }

    // FIXME check these
    padding-left: 20px;
    padding-right: 20px;

    .primary {
        font-size: 250%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .secondary {
        font-size: 150%;
        padding-bottom: 1em;
    }

}
