.Infobox {
    color: $brand-text-dark;
    font-size: 16px !important;

    padding: 15px;
    border-top: 10px solid $brand-bg-light;
    border-bottom: 10px solid $brand-bg-light;

    .secondary {
        color: $brand-text-mid;
        margin: 7px 0;
    }

    &, .Link {
        font-weight: 400 !important;
    }

    .Link {
        color: $icon-fg-color !important;
        text-decoration: none;
        text-align: left;
        font-size: 18px !important;

        display: block !important;

        margin: 7px 0;
        padding: 8px;

        border: 1px solid $icon-fg-color;
        border-radius: 3px;

        &:hover, &:focus {
            color: white !important;
            background-color: $icon-fg-color;
        }
    }
}
