@use "../styles/mixins/colours";

.LimitedServicesBanner {

    .links {
        &.Link {
            color: #{colours.get-static('colour-text-very-light')};
            color: var(--colour-text-very-light);

            &:visited {
                color: #{colours.get-static('colour-text-very-light')};
                color: var(--colour-text-very-light);
            }
        }
    }
}
