.ListItem {
    display: block;
    position: relative;
    border-bottom: 1px solid $list-item-hairline;
    text-decoration: none;
    cursor: pointer;

    > div {
        display: flex;
        align-items: center;

        > * { 
            padding: 0.3em;
        }

        > .text {
            flex: 1 1 auto;
            min-width: 0;
            > .primaryText,
            > .secondaryText {
                margin: 0.2em 0;
            }
            > .primaryText {
                color: $brand-text-dark;

                font-size: 16px;
                line-height: 150%;
            }

            > .secondaryText {
                color: $brand-text-mid;

                font-size: 14px;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        > .leftIcon,
        > .rightIcon {

            > span {
                display: block;
            }

            input {
                position: absolute;

                top: 16px;
                left: 16px;

                z-index: -99;
            }

            svg.Icon {
                vertical-align: text-bottom;
            }
        }
    }

    &.taller {
        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 18px;

        .leftIcon {
            top: 15px;
        }
    }

    &.hero {
        > div {
            padding: 0.3em;
            > .text {
                .primaryText {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 18px;
                }
            }
        }
    }
}
