@use "../styles/mixins/colours";

.ListItem {
    display: block;
    position: relative;
    border: 0;
    border-bottom: 1px solid #{colours.get-static('colour-border-list-item')};
    border-bottom: 1px solid var(--colour-border-list-item);
    text-decoration: none;
    cursor: pointer;


    /* remove default button styling */
    @at-root {
        button#{&} {
            width: 100%;
            padding: 0;
            background: none;
            font-family: inherit;
            font-size: inherit;
            text-align: left;
        }
    }

    &.taller {
        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 18px;

        .leftIcon {
            top: 15px;
        }
    }

    &.hero {
        & > div {
            padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 58px;
        }

        .primaryText {
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
        }
    }

    &.has-left-icon > div {
        padding-left: 58px;
    }

    &.has-right-icon > div {
        padding-right: 40px;
    }

    & > div {
        padding: 16px;

        & > .primaryText {
            color: #{colours.get-static('colour-text-dark')};
            color: var(--colour-text-dark);

            font-size: 16px;
            line-height: 150%;

            .link-text {
                color: #{colours.get-static('colour-link')};
                color: var(--colour-link);

                &:hover {
                    text-decoration: none;
                }

            }

        }

        & > .secondaryText {
            color: #{colours.get-static('colour-text-mid')};
            color: var(--colour-text-mid);

            font-size: 14px;
            line-height: 150%;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        & > .leftIcon,
        & > .rightIcon {
            position: absolute;

            top: 13px;

            height: 44px;

            input {
                position: absolute;

                top: 16px;
                left: 16px;

                z-index: -99;
            }
        }

        & > .leftIcon {
            top: 8px;
            left: 8px;
        }

        & > .rightIcon {
            right: 8px;
        }
    }
}
