$colour-background: #edece9;
$colour-grey: #808080;
$colour-icon-background: #70bdae;

.LogoWithTextBox {
    padding-left: 5vmin;
    background-color: $colour-background;
    cursor: pointer;

    .Icon {
        display: table-cell;
        width: 64px;
        height: 120px;
        padding-right: 12px;
        text-align: center;
        vertical-align: middle;

        .IconBorder {
            width: 64px;
            height: 64px;
            border-radius: 50%;

            .middle {
                padding: 11px;
            }
        }
    }

    .Content {
        display: table-cell;
        width: 70vmin;
        padding: 2vmin;
        vertical-align: middle;

        .Header {
            padding-bottom: 5px;
            font-size: large;
            font-weight: 500;
        }

        .Instruction {
            padding-bottom: 10px;
            font-size: small;
        }

        .Link {
            display: inline;
            color: $colour-grey;
            font-weight: 500;

            .Chevron {
                display: inline;
                font-weight: normal;
            }
        }

    }
}
