.NavBar {
    .List {
        padding: 0;
    }
}

.FeedbackLink,
.ReportBugLink {
    background: $brand-bg-light;

    & > div {
        padding-top: 11px;
        padding-bottom: 11px;

        .primaryText {
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
        }
    }
}

.ReportBugLink {
    .CrossIcon {
        position: relative;
        top: -5px;
        left: -9px;
    }
}
