.NavBar {
    .List {
        padding: 0;
    }
}
.FeedbackLink{
	background: $brand-bg-light;
	
	> div{
		padding-top: 11px;
		padding-bottom: 11px;
		
	
		.primaryText{
			font-weight: 500;
			font-size: 18px;
			line-height: 18px;
		}
		
	}
}