$colour-background: #EDECE9;
$colour-grey: #808080;
$colour-darkcyan: #008b8b;

.OnlineSafetyLink {
    height: 17vh;
    background-color: $colour-background;
    padding-left: 2vw;

    cursor: pointer;

    .Icon {
        display: table-cell;
        width: 64px;
        height: 17vh;
        text-align: center;
        vertical-align: middle;

    }

    .Content {
        display: table-cell;
        width: 70vw;
        padding: 1vw;
        vertical-align: middle;

        .Header {
            padding-bottom: 1vh;
            font-size: large;
            font-weight: 500;
        }

        .Instruction {
            padding-bottom: 2vh;
            font-size: small;
        }

        .Link {
            display: inline;
            color: $colour-grey;
            font-weight: 500;

            .Chevron {
                display: inline;
                color: $colour-darkcyan;
                font-weight: normal;
            }
        }

    }
}

