$colour-background: #edece9;
$colour-grey: #808080;
$colour-icon-background: #70BDAE;

.OnlineSafetyLink {
    height: 17vh;
    padding-left: 2vw;
    background-color: $colour-background;
    cursor: pointer;


    .Icon {
        display: table-cell;
        width: 64px;
        height: 17vh;
        text-align: center;
        vertical-align: middle;

        .IconBorder {
            width: 64px;
            height: 64px;
            background: $colour-icon-background;
            border-radius: 50%;

            .middle {
                padding: 11px;
            }
        }
    }

    .Content {
        display: table-cell;
        width: 70vw;
        padding: 2vw;
        vertical-align: middle;

        .Header {
            padding-bottom: 1vh;
            font-size: large;
            font-weight: 500;
        }

        .Instruction {
            padding-bottom: 2vh;
            font-size: small;
        }

        .Link {
            display: inline;
            color: $colour-grey;
            font-weight: 500;

            .Chevron {
                display: inline;
                color: $colour-icon-background;
                font-weight: normal;
            }
        }

    }
}

