.OpeningTimes {
    position: relative;
    padding-left: 24px;

    .ColoredIcon {
        position: absolute;
        top: -17px;
        left: -16px;

        width: 50px;
        height: 50px;
    }

    .open {
        color: $brand-text-dark;
        font-weight: 500;
    }

    .closed {
        font-weight: 500;
    }
}
