.OpeningTimes {
    position: relative;
    padding-left: 24px;
    margin-bottom: 6px;

    .ColoredIcon {
        // override mui.SvgIcon's inline styles
        height: 50px !important;
        width: 50px !important;

        position: absolute;
        top: -17px;
        left: -16px;
    }

    .open {
        color: $brand-bg-dark;
        font-weight: 500;
    }

    .closed {
        color: $brand-highlight;
        font-weight: 500;
    }
}
