.Contact {
    .ContactButton {
        background-color: $brand-pane-alt-dark;
        color: $white;

        max-width: 320px;
        margin-bottom: 5px;

        border-radius: 3px;

        font-size: 18px;
        text-align: center;
        text-decoration: none;

        &::before {
            margin-right: 0.4em;
            content: "Call";
        }

        .Contact-text {
            padding: 0;
            display: inline;
            font-weight: normal;
        }
    }

    &.styleHollow {
        .ContactButton {
            background-color: transparent;
            color: $brand-pane-alt-dark;

            border: 1px solid $brand-pane-alt-dark;
            @media print {
                border: 0;
            }
        }
    }
}
