.Contact {
    .ContactButton {

        max-width: 320px;
        margin-bottom: 5px;

        border: 1px solid $brand-pane-alt-dark;
        @media print {
            border: 0;
        }

        border-radius: $rounded-border;

        font-size: 18px;
        text-align: center;
        text-decoration: none;

        .Icon {
            display: inline-block;
            position: absolute;
            top: -2px;
            left: 50%;
            margin-left: -110px;

            path {
                fill: $brand-pane-alt-dark;
                @media print {
                    fill: $black;
                }
            }
        }

        .Contact-text {
            padding: 0;
        }

    }

    .CrisisContactButton {
        border: 1px solid $brand-highlight;
        background-color: $brand-highlight;

        .Icon {
            outline: $white;

            path {
                fill: $white;
            }
        }

        .Contact-text {
            color: $white;
            font-weight: bold;
        }
    }
}
