@use 'sass:color';
@use '../styles/mixins/colours';

.Contact {
    p {
        display: inline;
        color: #{colours.get-static('colour-crisis-white')};
        color: var(--colour-crisis-white);
    }

    .Collapser {
        .Button {
            &:hover {
                color: #{colours.get-static('colour-crisis-white')};
                color: var(--colour-crisis-white);

                .title-container {
                    .ChevronIcon {
                        path {
                            stroke: #{colours.get-static('colour-crisis-white')};
                            stroke: var(--colour-crisis-white);
                        }
                    }
                }
            }
        }

        li {
            color: #{colours.get-static('colour-crisis-white')};
            color: var(--colour-crisis-white);
        }
    }

    .ResultsList & {
        .ContactButton {
            display: block;
            text-align: center;
            max-width: 230px;
        }
    }

    .ContactButton {
        background-color: #{colours.get-static('colour-crisis-white')};
        background-color: var(--colour-crisis-white);
        color: #{colours.get-static('colour-brand-primary-mid')};
        color: var(--colour-brand-primary-mid);
        max-width: 320px;
        margin-bottom: 5px;
        border-radius: $rounded-border;
        font-size: 18px;
        text-align: center;
        text-decoration: none;

        .Contact-text {
            padding: 0;
            display: inline;
            font-weight: bold;
        }

        .Icon {
            path {
                fill: #{colours.get-static('colour-brand-primary-mid')};
                fill: var(--colour-brand-primary-mid);

                @media print {
                    fill: #{colours.get-static('raw-colour-pure-black')};
                    fill: var(--raw-colour-pure-black);
                }
            }
        }
    }

    &.styleHollow {
        .ContactButton {
            background-color: transparent;
            color: #{colours.get-static('colour-button-primary')};
            color: var(--colour-button-primary);
            border: 1px solid #{colours.get-static('colour-button-primary')};
            border: 1px solid var(--colour-button-primary);

            @media print {
                border: 0;
            }

            .Icon {
                path {
                    fill: #{colours.get-static('colour-button-primary')};
                    fill: var(--colour-button-primary);
                }
            }
        }
    }
}
