.Contact {
    .ContactButton {
        max-width: 320px;
        margin-bottom: 5px;

        border-radius: 3px;
        background-color: $brand-pane-alt-dark;

        color: $white;

        font-size: 18px;
        text-align: center;
        text-decoration: none;

        .Contact-text {
            display: inline;
            padding: 0;
            font-weight: normal;
        }

        .Icon {
            path {
                fill: $white;
                @media print {
                    fill: $black;
                }
            }
        }
    }

    &.styleHollow {
        .ContactButton {
            border: 1px solid $brand-pane-alt-dark;
            background-color: transparent;

            color: $brand-pane-alt-dark;
            @media print {
                border: 0;
            }

            .Icon {
                path {
                    fill: $brand-pane-alt-dark;
                }
            }
        }
    }
}
