.ResultTile {
    font-size: 14px !important;
    font-weight: light !important;

    .name {
        color: $brand-pane-alt-light;
        font-size: 16px !important;
        font-weight: normal;
        margin: 0;
    }

    .site_name {
        color: $brand-bg-mid;
        margin-bottom: 16px;
    }

    .service_type {
        margin: 0;
        padding: 0 0 0 22px;
        li {
            padding: 3px 0;
        }
    }

    .OpeningTimes {
        .until {
            color: $brand-bg-mid;
        }
    }
}
