.ResultListItem {
    font-size: 14px;
    font-weight: 400;

    .name {
        margin: 0;
        margin-top: 5px;
        margin-right: 20px;
        color: $link-text-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 125%;
    }

    .location {
        position: relative;
        right: 6px;
        bottom: 2px;
        font-weight: 500;
    }

    .MapIcon {
        position: relative;
        top: 7px;
        left: 0;
        width: 25px;
        height: 25px;
        margin: 0;
    }

    .site_name {
        margin-bottom: 15px;
        color: $brand-text-mid;
    }

    .related {
        margin: 0;
        padding: 0 0 0 22px;

        li {
            padding: 3px 0;
        }
    }

    .related + div {
        padding: 3px 0;
        color: $brand-text-mid;
        text-decoration: underline;
    }

    .Accessibility {
        margin-bottom: 5px;
        padding-left: 24px;
        color: $brand-text-mid;

        .ColoredIcon {
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
        }
    }

    .OpeningTimes {
        margin-bottom: 5px;

        .until,
        .open {
            color: $brand-text-mid;
        }

        .ColoredIcon {
            top: 0;
            left: -2px;

            width: 20px;
            height: 20px;
        }
    }
}
