@use '../styles/mixins/colours';

.ResultsList {
    .resultContainer:first-child {
        border-top: 0;
    }

    .resultContainer-ResultListItem {
        border-top: 10px solid #{colours.get-static('colour-bg-standard-tint-2')};
        border-top: 10px solid var(--colour-bg-standard-tint-2);
    }

    @media ($tablet) {
        .resultContainer-CrisisLineItem {
            display: inline-block;
            width: 48%; // two columns
            // when next to a taller element, align the tops
            vertical-align: top;
        }
    }
}
