.ResultList {
    .resultContainer {
        border-top: 10px solid $brand-bg-light;
    }

    .resultContainer:first-child {
        border-top: 0;
    }

    .resultContainer-other + .resultContainer {
        border-top: 0;
    }

    .resultContainer-CrisisLineItem + .resultContainer-CrisisLineItem {
        border-top: 0;
    }

    .resultContainer-ResultListItem + .resultContainer-ResultListItem {
        border-top: 1px solid $list-item-hairline;
    }

    @media ($tablet) {
        .resultContainer-CrisisLineItem {
            display: inline-block;
            width: 30%;
        }
    }
}
