.ResultTile {
    font-size: 14px !important;
    font-weight: 400 !important;

    border-bottom: 1px solid $list-item-hairline !important;

    .name {
        color: $brand-pane-alt-dark;
        font-size: 18px !important;
        line-height: 125%;
        font-weight: 500;
        margin: 0;
        margin-bottom: 3px;
    }

    .site_name {
        color: $brand-text-mid;
        margin-bottom: 16px;
    }

    .service_type {
        margin: 0;
        padding: 0 0 0 22px;
        li {
            padding: 3px 0;
        }
    }

    .OpeningTimes {
        .until {
            color: $brand-text-mid;
        }
    }
}
