.ResultListItem {
    @include debugging;

    font-size: 14px;
    font-weight: 400;
	
	border-bottom: 10px solid $list-item-hairline;
	
    .name {
        margin: 0;
        margin-bottom: 3px;
        color: $link-text-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 125%;
    }

    .site_name {
        margin-bottom: 16px;
        color: $brand-text-mid;
    }

    .related {
        margin: 0;
        padding: 0 0 0 22px;

        li {
            padding: 3px 0;
        }
    }

    .related + div {
        padding: 3px 0;
        color: $brand-text-mid;
        text-decoration: underline;
    }

    .OpeningTimes {
        .until {
            color: $brand-text-mid;
        }

        margin-bottom: 7px;
    }
}
