.ResultList {

    .resultContainer:first-child {
        border-top: 0;
    }

    .resultContainer-ResultListItem {
        border-top: 10px solid $brand-bg-light;
    }

    @media ($tablet) {
        .resultContainer-CrisisLineItem {
            display: inline-block;
            width: 48%; // two columns
            // when next to a taller element, align the tops
            vertical-align: top;
        }
    }
}
