$padding: 15px;

.ServicePane {
    color: $brand-text-dark;

    font-size: 14px !important;
    font-weight: light !important;

    .padded,
    .Eligibility {
        margin: $padding;
    }

    main {
        margin: 0;
        padding: $padding;
        padding-bottom: 7px;

        background-color: $brand-bg-light;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0 !important;
        font-weight: 500 !important;
    }

    hr {
        height: 1px;
        margin-right: -$padding;
        margin-left: -$padding;

        border: 0;
        background-color: $brand-spacer;
    }

    .name {
        margin: 0;
        font-size: 24px !important;
    }

    .description {
        padding-bottom: 10px;
        color: $brand-text-mid;
        font-weight: 400 !important;
    }

    .OpeningTimes,
    .Address {
        svg {
            top: -6px !important;
        }
    }

    .OpeningTimes,
    .Address,
    .CollapsedPhones {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .List {
        .ListItem {
            border-bottom: 1px solid $list-item-hairline !important;

            font-size: 14px !important;
            font-weight: 400 !important;
        }
    }

    .siblings {
        .List > :first-child {
            border-top: 1px solid $list-item-hairline;
        }

        .ChevronIcon {
            top: 2px !important;
            width: 35px !important;
            height: 35px !important;
        }
    }
}
