@use '../styles/mixins/colours';

.ServicePane {
    color: #{colours.get-static('colour-text-dark')};
    color: var(--colour-text-dark);
    font-size: 14px;
    font-weight: light;

    .error {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .progress {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 400px;

        & > * {
            display: block;
            width: 60px;
            height: 60px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .header {
        margin: 0;
        padding: 15px;
        padding-bottom: 1px;
        background-color: #{colours.get-static('raw-colour-pure-white')};
        background-color: var(--raw-colour-pure-white);
    }

    @media ($tablet) {
        .header {
            width: 46%;
            float: left;
            background-color: #{colours.get-static('raw-colour-pure-white')};
            background-color: var(--raw-colour-pure-white);
        }

        .provisions {
            width: 46%;
            float: left;
            clear: left;
        }
    }

    // FIXME: Modifying child component styles
    .Eligibility,
    .serviceProvisions-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        font-weight: 500;
    }

    .name {
        margin: 0;
        font-size: 22px;
    }

    .description {
        padding-bottom: 10px;
        color: #{colours.get-static('colour-text-mid')};
        color: var(--colour-text-mid);
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
    }

    .OpeningTimes {
        svg {
            top: 3px;
            left: -4px;
        }
    }

    .Address {
        svg {
            top: -2px;
        }
    }

    .OpeningTimes,
    .Address,
    .Accessibility,
    .CollapsedPhones,
    .TransportTime {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        font-size: 16px;
    }

    // Hack since we wrap the whole address section in a google maps link.
    // We've disabled link styling for address but we want to re-enable it
    // for the text that is explicitly a link to Google Maps.
    .GoogleMapsLink {
        .googleMapsLink {
            text-decoration: underline;
        }

        &:hover .googleMapsLink {
            text-decoration: none;
        }
    }

    .TransportTime > .location {
        display: none;
    }

    @media print {
        .TransportTime {
            display: none;
        }
    }

    .List {
        .ListItem {
            font-size: 14px;
            font-weight: 400;

            & > div {
                & > .label {
                    & > .primaryText {
                        font-weight: 500;
                    }

                    & > .secondaryText {
                        text-overflow: ellipsis;
                        white-space: normal;
                        overflow: auto;
                    }
                }
            }
        }
    }

    .siblings-container {
        padding-top: 5px;

        .siblings-header {
            margin-bottom: 1em;
            padding-right: 15px;
            padding-left: 15px;
        }

        .List > :first-child {
            border-top: 1px solid #{colours.get-static('colour-border-list-item')};
            border-top: 1px solid var(--colour-border-list-item);
        }
    }

    .DebugContainer {
        float: left;

        pre {
            white-space: pre-wrap;
        }
    }
}
