$padding: 15px;

.ServicePane {
    color: $brand-text-dark;

    font-size: 14px;
    font-weight: light;

    .padded,
    .Eligibility {
        margin: $padding;
    }

    main {
        margin: 0;
        padding: $padding;
        padding-bottom: 7px;

        background-color: $brand-bg-light;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        font-weight: 500;
    }

    hr {
        height: 1px;
        margin-right: -$padding;
        margin-left: -$padding;

        border: 0;
        background-color: $brand-spacer;
    }

    .name {
        margin: 0;
        font-size: 24px;
    }

    .description {
        padding-bottom: 10px;
        color: $brand-text-mid;
        font-weight: 400;
    }

    .OpeningTimes,
    .Address {
        svg {
            top: -6px;
        }
    }

    .OpeningTimes,
    .Address,
    .CollapsedPhones {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .List {
        .ListItem {
            border-bottom: 1px solid $list-item-hairline;

            font-size: 14px;
            font-weight: 400;
        }
    }

    .siblings {
        .List > :first-child {
            border-top: 1px solid $list-item-hairline;
        }

    }
}
