$padding: 15px;

.ServicePane {
    color: $brand-text-dark;

    font-size: 14px;
    font-weight: light;

    .error {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .progress {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 400px;

        & > * {
            display: block;
            width: 60px;
            height: 60px;

            margin-right: auto;
            margin-left: auto;
        }
    }

    // FIXME: Modifying child component styles
    .Eligibility,
    .serviceProvisions-container {
        padding-right: $padding;
        padding-left: $padding;
    }

    .header,
    .practicalities {
        margin: 0;
        padding: $padding;
        background-color: $brand-bg-light;
    }

    .header {
        padding-bottom: 1px;
    }

    .header-practicalities-divider {
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: $brand-bg-light;

        hr {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .practicalities {
        padding-top: 0;
        padding-bottom: 7px;
    }

    @media ($tablet) {
        .header {
            width: 46%;
            float: left;
            background-color: $white;
        }

        .header-practicalities-divider {
            display: none;
        }

        .practicalities {
            width: 46%;
            margin-top: 15px;
            float: right;
            background-color: $white;
        }

        .practicalities-container {
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: $brand-bg-light;
        }

        .provisions {
            width: 46%;
            float: left;
            clear: left;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        font-weight: 500;
    }

    hr {
        height: 1px;
        margin-right: -$padding;
        margin-left: -$padding;

        border: 0;
        background-color: $brand-spacer;
    }

    .name {
        margin: 0;
        font-size: 22px;
    }

    .description {
        padding-bottom: 10px;
        color: $brand-text-mid;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
    }

    .OpeningTimes {
        svg {
            top: -4px;
        }
    }

    .Address {
        svg {
            top: -2px;
        }
    }

    .OpeningTimes,
    .Address,
    .CollapsedPhones,
    .TransportTime {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        font-size: 16px;
    }

    .TransportTime > .location {
        display: none;
    }

    @media print {
        .TransportTime {
            display: none;
        }
    }

    .List {
        .ListItem {
            font-size: 14px;
            font-weight: 400;

            & > div {
                & > .primaryText {
                    font-weight: 500;
                }

                & > .secondaryText {
                    text-overflow: ellipsis;
                    white-space: normal;
                    overflow: auto;
                }
            }

        }
    }

    .siblings-container {
        padding-top: 5px;

        .siblings-header {
            margin-bottom: 1em;
            padding-right: $padding;
            padding-left: $padding;
        }

        .List > :first-child {
            border-top: 1px solid $list-item-hairline;
        }
    }

    .suggestChange {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}
