@use '../styles/mixins/colours';

.ShareButton {
    padding: 0;
    background-color: transparent;
    border: 0;

    .main-container {
        display: flex;
        align-items: center;

        .text-description {
            
            font-weight: normal;
            padding: 0 10px;
        }

        .SvgIcon {
            margin-bottom: -3px;

           
        }
    }
}
