
.SocialMedia {
    svg {
        width: 20px;
        height: 30px;
        font-weight: bold;
        text-align: center;
        display: block;
    }

    .Contact-text {
        line-height: 30px;
        padding-left: 5px;
    }
}
