@use '../styles/mixins/colours';

.SortFilterResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 10px solid #{colours.get-static('colour-bg-standard-tint-1')};
    border-top: 10px solid  var(--colour-bg-standard-tint-1);
    background-color: #{colours.get-static('colour-bg-standard-tint-1')};
    background-color: var(--colour-bg-standard-tint-1);

    &.sticky {
        position: fixed;
        top: 2.7em;
        transition: position 0.5s ease;
        width: 100%;
        z-index: 1;
    }

    @media only screen and (min-width: 800px) {
        &.sticky {
            position: fixed;
            top: 2.7em;
            transition: position 0.5s ease;
            width: 800px;
            z-index: 1;
        }
    }
}
