.SortResult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $brand-bg-light;
    padding: 1em;
    border-top: 10px solid $brand-bg-light;


    .orderingSentence {
        align-self: center;
        color: $brand-text-dark;
        font-size: 18px;
    }

    .orderingControls {
        display: flex;
        flex-direction: column;
        position: relative;

        .orderByTitle {
            color: $link-text-color;
            text-align: right;
            margin: 5px 0;
        }

        .optionSelect {
            display: flex;
            padding: 3px;
            justify-content: space-between;
            cursor: pointer;
            font-size: 18px;
            color: $link-text-color;

            &:hover {
                background-color: $white;
                outline: $brand-highlight 1px solid;
            }
        }

        .activeOptionSelect {
            background-color: $white;
            outline: $brand-highlight 1px solid;
        }

        .open {
            .SvgIcon {
                transform: rotate(-90deg);
                margin-bottom: -12px;
                margin-top: -12px;
            }
        }

        .closed {
            .SvgIcon {
                transform: rotate(90deg);
                transition: .4s;
                margin-bottom: -12px;
                margin-top: -12px;
            }
        }

        .options {
            position: absolute;
            z-index: 1;
            color: $link-text-color;
            width: 100%;
            cursor: pointer;
            margin-top: 1px;
            background-color: $white;
            box-shadow: $black 0 0 3px 0;

            div {
                padding: 5px;
                &:hover {
                   background-color: $brand-bg-mid-lighter;
               }
            }
        }

    }

    &.sticky {
        position: fixed;
        top: 2em;
        z-index: 1;
        width: 768px;
    }
}
