.SortFilterResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 10px solid $brand-bg-light;
    background-color: $brand-bg-light;

    &.sticky {
        position: fixed;
        top: 2em;
        width: 100%;
        z-index: 1;
    }

    @media only screen and (min-width: 800px) {
        &.sticky {
            position: fixed;
            top: 2em;
            width: 800px;
            z-index: 1;
        }
    }
}
