@use '../styles/mixins/colours';

.ToastMessage {
    .action-container {
        display: flex;
        align-items: center;
    }

    button {
        background-color: transparent;
        border: 0;
        color: var(--raw-colour-warm-white);

        .icon {
            .CrossIcon {
                width: 55px;
                height: auto;
                margin: -15px -21px -24px -23px;

                path {
                    fill: #{colours.get-static('colour-text-very-light')};
                    fill: var(--colour-text-very-light);
                    stroke: #{colours.get-static('colour-text-very-light')};
                    stroke: var(--colour-text-very-light);
                }
            }
        }
    }
}
