.TransportTime {
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 14px;

    &.compact {
        margin-bottom: 16px;
        padding-top: 0;
        padding-bottom: 0;

        .travel-time {
            display: block;
            margin-right: 24px;
            padding-left: 24px;
        }

        @media ($tablet) {
            .travel-time {
                display: inline-block;
            }
        }

        .Icon {
            top: 2px;
            left: -2px;
        }

    }

    .Icon {
        position: absolute;
        top: 2px;
        left: -32px;
    }

    .Icon.TramIcon {
        transform: scale(2);
    }

    .travel-time {
        position: relative;
        padding: 5px 0;
        color: $brand-text-dark;
        font-weight: 500;
    }

    .location {
        color: $brand-text-mid;
    }

    .getDirections {
        float: right;
        color: $link-text-color;
        text-decoration: underline;
    }
}
