.TransportTime {
    position: relative;
    padding-left: 24px;
    margin-bottom: 16px;

    .ColoredIcon {
        position: absolute;
        top: -5px;
        left: -2px;
    }

    .time {
        color: $brand-text-dark;
        font-weight: bold;
    }

    .location {
        color: $brand-text-mid;
    }
}
