.TransportTime {
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 14px;

    &.compact {

        margin-bottom: 15px;
        padding-top: 0;
        padding-bottom: 0;

        .travel-time {
            display: block;
            margin-right: 24px;
            padding-left: 24px;
        }

        @media (all) {
            .travel-time {
                display: inline-block;
            }
        }

        .Icon {
            top: -1px;
            left: -3px;
            width: 20px;
            height: 20px;
        }

    }

    .getDirections {
        padding-top: 3px;
    }

    .Icon {
        position: absolute;
        top: -2px;
        left: -32px;
    }

    .travel-time {
        position: relative;
        padding: 0;
        color: $brand-text-dark;
        font-weight: 500;
    }

    .location {
        margin-right: 24px;
        color: $brand-text-mid;
    }

    .getDirections {
        float: left;
        color: $link-text-color;
        text-decoration: underline;
    }
}
