@use '../styles/mixins/colours';

.ViewOnMapButton {
    width: 30%;
    border: 1px solid #{colours.get-static('colour-button-primary')};
    border: 1px solid var(--colour-button-primary);
    background: none;
    font-weight: bold;
    border-radius: 3px;
    color: #{colours.get-static('colour-button-primary')};
    color: var(--colour-button-primary);

    .buttonLabel {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftSide {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        path {
            fill: #{colours.get-static('colour-button-primary')};
            fill: var(--colour-button-primary);
            stroke: #{colours.get-static('colour-button-primary')};
            stroke: var(--colour-button-primary);
        }
    }

    &:hover {
        background-color: #{colours.get-static('colour-button-secondary-hover')};
        background-color: var(--colour-button-secondary-hover);
    }

    @media (max-width: 556px) {
        width: 95%;
    }
}
