.Contact + .Web {
    padding-top: 7px;
}

.Web {
    width: 100%;
    display: block;

    a {
        font-size: 18px !important;
        text-decoration: none;
        color: $brand-pane-alt-dark;

        display: block;
        position: relative;
        width: auto;

        border: 1px solid;
        border-color: $brand-pane-alt-dark;
        border-radius: 3px;

        padding: 6px;

        .web {
            white-space: nowrap;
        }

        &:hover, &:focus {
            color: white;
            background-color: $brand-pane-alt-dark;

            .PhoneIcon {
                fill: white !important;
            }
        }
    }
}
