.WithStickyFooter {
    $shadow-colour: rgba(118, 118, 118, 0.44);

    > .content {
        margin-bottom: -40px;
    }

    > footer {
        position: sticky;
        bottom: 0;
        margin-top: 40px;
        transition: 0.1s box-shadow;
        background-color: $white;
        box-shadow: 0 0 0 0 $shadow-colour;
        overflow: auto;
        clip-path: inset(-30px 0 0 0);

        &[floating] {
            box-shadow: 0 0 10px 7px $shadow-colour;
        }
    }

    > .onscreenIndicator {
        height: 0;
        margin: 0;
        transform: translateY(-1px);
        border: 0;
        box-sizing: content-box;
    }
}
