.WithStickyFooter {
    .floatsFromBottom {
        @include riseIn(1s, 0s, forwards);
        position: fixed;
        bottom: 0;
        width: 100%;
        max-width: $max-width;
        border-top: 1px solid $brand-spacer;
        background: $brand-bg-light;
    }
}
