@use '../../styles/mixins/colours';

.FormCantFind {
    padding: 10px;
    background-color: #{colours.get-static('colour-bg-standard-tint-2')};
    background-color: var(--colour-bg-standard-tint-2);

    form {
        padding: 15px;
        background-color: #{colours.get-static('colour-bg-standard')};
        background-color: var(--colour-bg-standard);
    }

    .radioGroup {
        margin: 10px 0;

        label {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #{colours.get-static('colour-bg-standard-tint-2')};
            border: 1px solid var(--colour-bg-standard-tint-2);
            border-radius: $rounded-border;
        }

        input {
            &[type='radio'] {
                width: 0;
                visibility: hidden;
            }

            &:checked + label {
                background-color: #{colours.get-static('colour-bg-standard-tint-2')};
                background-color: var(--colour-bg-standard-tint-2);
            }
        }
    }

    .moreInformation {
        label {
            display: block;
        }

        textarea {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }

    h4 {
        margin-top: 0;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    input {
        &[type='checkbox'] {
            height: 30px;
            cursor: pointer;
        }
    }

    textarea {
        max-width: 100%;
        padding: 10px;
        font-weight: normal;
    }

    label {
        display: inline-block;
        min-width: 100px;
        height: 30px;
        padding: 5px 0 5px 5px;
        font-weight: normal;
        line-height: 30px;
        cursor: pointer;
        vertical-align: bottom;
    }

    .formError {
        padding: 0;
        color: #{colours.get-static('colour-error')};
        color: 1px solid var(--colour-error);
        text-align: left;
    }

    .formControls {
        margin-top: 15px;

        button {
            padding: 5px 10px;
            border: 1px solid #{colours.get-static('colour-link')};
            border: 1px solid var(--colour-link);
            border-radius: $rounded-border;
            background-color: transparent;
            color: #{colours.get-static('colour-link')};
            color: 1px solid var(--colour-link);
            font-size: 16px;
            font-weight: normal;
        }
    }
}
