@use '../../styles/mixins/colours';

.UserSnapResults {
    padding: 10px;
    background-color: #{colours.get-static('colour-bg-standard-tint-2')};
    background-color: var(--colour-bg-standard-tint-2);

    .inner {
        padding: 15px;
        background-color: #{colours.get-static('colour-bg-standard')};
        background-color: var(--colour-bg-standard);
    }

    h4 {
        margin-top: 0;
    }

    button {
        padding: 5px 10px;
        border: 1px solid #{colours.get-static('colour-link')};
        border: 1px solid var(--colour-link);
        border-radius: $rounded-border;
        background-color: transparent;
        color: #{colours.get-static('colour-link')};
        color: var(--colour-link);
        font-size: 16px;
        font-weight: normal;
    }
}
