.UserSnapResults {
    padding: 10px;
    background-color: $brand-bg-light;

    .inner {
        padding: 15px;
        background-color: $white;
    }

    h4 {
        margin-top: 0;
    }

    button {
        padding: 5px 10px;
        border: 1px solid $link-text-color;
        border-radius: $rounded-border;
        background-color: transparent;
        color: $link-text-color;
        font-size: 16px;
        font-weight: normal;
    }

}
