@use '../../styles/mixins/colours';

.FreeLowCostLabel {
    background-color: #{colours.get-static('colour-button-standard')};
    background-color: var(colour-button-standard);
    color: #{colours.get-static('raw-colour-pure-white')};
    color: var(--raw-colour-pure-white);

    .labelDesc {
        transform: translate(-5%);
    }

    &.hasDescription {
        &:hover {
            background-color: var(--colour-button-standard-hover);
            background-color: #{colours.get-static('colour-button-standard-hover')};
        }
    }
}
