@use '../../styles/mixins/colours';

.HealthCareCardLabel {
    background-color: #{colours.get-static('raw-colour-pure-green')};
    background-color: var(--raw-colour-pure-green);
    color: #{colours.get-static('raw-colour-pure-white')};
    color: var(--raw-colour-pure-white);

    &.hasDescription {
        &:hover {
            background-color: #{colours.get-static('raw-colour-pure-green')};
            background-color: var(--raw-colour-pure-green);
        }
    }

    @media only screen and (min-width: 410px) {
        width: 115px;
    }
}
